#ControlPageNewContainer, #ControlPageTransferContainer {
	display: none;
}

/* Styles for control-transfer.vm file */
#ControlPageCauseTransferContainer, #ControlPageControlTransferContainer
	{
	display: none;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

div.associatedVerifications>p {
	margin-top: 5px;
}

div.controlListHeader {
	margin-top: 0.5em;
	padding-bottom: 1.2em;
	font-weight: bold;
}

div.controlListHeader > span.headerID {
	position: absolute;
	left: 5em;
}

div.controlListHeader > span.headerDescription {
	position: absolute;
	left: 13.5em;
}

div.controlListHeader > span.headerDate {
	position: absolute;
	left: 60.7em;
}

div.controlListHeader > span.headerDelete {
	position: absolute;
	left: 73.2em;
}

div.controlListHeader > span.headerDelete > div {
	margin-top: 0.1em;
}

li div.causeHeader {
	border-top: 1px solid #CCC;
	padding-top: 0.5em;
	margin-bottom: 2em;
}

li span.CauseTableToggle {
	position: absolute;
	left: 2.15em;
	padding-top: 0.3em;
}

li span.causeNumber {
	position: absolute;
	left: 4.7em;
}

li span.causeTitle {
	position: absolute;
	left: 13.5em;
}


ul#controlsList > li > ul > li:nth-child(odd) { 
	background: #EEE; 
}

li div.controlHeader {
	margin-bottom: 0.7em;
}

li span.ControlTableToggle {
	margin-left: 1.5em;
	padding-top: 0.3em;
}

li span.controlNumber {
	position: absolute;
	left: 4.7em;
}

li span.controlDescription {
	position: absolute;
	left: 13.5em;
}

li span.controlDate {
	position: absolute;
	left: 60.7em;
}

li input.ControlPageDeleteBox {
	position: absolute;
	left: 76.9em;
}

li span.noControlsMessage {
	padding-left: 3em;	
	font-style: italic;
}