#ControlPageNewContainer, #ControlPageTransferContainer {
	display: none;
}

/* Styles for control-transfer.vm file */
#ControlPageCauseTransferContainer, #ControlPageControlTransferContainer {
	display: none;
}

ul.controlVerificationList
{
    list-style-type: none;    
    padding-left:0;
}

div.associatedVerifications > p
{
	margin-top:5px;
}