#hazard-table, .noHazard {
	width: 65%;
	margin-right: auto;
	margin-left: 0.83em;	
}

.validationError {
	color: #D04437;
	display: block;
	margin: 5px 0 0 0;
}

.successMsg {
	width: 15%;
	margin-left: 145px;
}