.HazardFormMultiSelectFooterContainerOne {
    float: left;
    width: 277px;
    padding-left: 3px;
    margin-top: -5px;
}

.HazardFormMultiSelectFooterContainerTwo {
    float: left;
    margin-top: -5px;
}

.HazardFormMultiSelectFooter {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #707070;
}

#hazardTable {
	margin-top: 4px;
	width: 97.5%;
	margin-right: auto;
	margin-left: 0.83em;
}

#hazardNumber {
    width: 15%;
}

#hazardTitle {
    width: 30%;
}

#hazardMissionPayload {
    width: 20%;
}

#hazardLastEdit {
    width: 20%;
}

/* RISK MATRIX CSS BEGINS */
#HazardRiskMatrixTable {
    border-collapse: collapse;
}

.HazardRiskMatrixText {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #707070;
}

#HazardRiskMatrixTable table {
    border: 1px dashed #707070;
    padding: 5px;
    margin: 0;
}

#HazardRiskMatrixTable td {
    border: 1px dashed #707070;
    padding: 5px;
}

.HazardRiskMatrixEmptyColumn {
    width: 145px;
}

.HazardRiskMatrixCategoryColumns {
    width: 85px;
}

#HazardRiskMatrixHazards {
    display: none;
}

#HazardRiskMatrixTransfersDeletedContainer {
    display: none;
}

.HazardRiskMatrixLink {
    color: #333333;
}

.HazardRiskMatrixDynamic {
    padding-right: 3px;
}

.HazardRiskMatrixLink:hover {
    color: #0000FF;
}

.HazardRiskMatrixLinkCell {
    max-width: 80px;
}

.HazardRiskMatrixTableRedCell {
    background-color: #FF3030;
}

.HazardRiskMatrixTableYellowCell {
    background-color: #E5E500;
}

.HazardRiskMatrixTableOrangeCell {
    background-color: #FFA500;
}

.HazardRiskMatrixTableGreenCell {
    background-color: #7FC424;
}
/* RISK MATRIX CSS ENDS */

#action {
    width: 15%;
}

.noPayload {
    padding-left: 2px;
    padding-top: 2px;
    display: block;
}

.HazardTableText {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857142857143;
    margin: 5px 0 0 15px;
}

#HazardTableMessage {
    display: none;
}

#HazardTableCreateHazardButton {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#HazardTableViewingHeader {
    display: block;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857142857143;
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid #ccc;
}

#HazardTableViewingHeaderContent {
    display: inline-block;
    font-weight: normal;
}

#hazardNavigationList {
    margin-left: 3px;
}

#gotoSelectedHazardReport {
    margin-left: 3px;
}

#navigationError {
    color: #D04437;
    padding-left: 3px;
    display: none;
}

.HazardNavigationHiddenOption {
    display: none;
}

.validationError {
	color: #D04437;
	display: block;
}

.successMsg {
	width: 15%;
	margin-left: 145px;
}

.leftPanel {
    padding-top: 5px;
    padding-right: 40px;
}

.payloadForm {
	margin-top: 2px;
}

form.payloadForm .field-group > label {
	color: #707070;
	word-wrap: break-word;
	margin-left: 2px;
}

.payloadFormInputContainer {
    overflow: hidden;
    padding-right: 15px;
    display: block;
}

form.payloadForm .text {
	border: 1px solid #ccc;
    border-radius: 3.01px;
    box-shadow: inset 0 1px 3px #ccc;
    box-sizing: border-box;
    color: #333;   font-size: inherit;
    vertical-align: inherit;
    height: 2.11em;
    line-height:  1.4285714285714;
    overflow: hidden;
    padding-right: .5em;
    float: left;
    width: 75%;
}

form.payloadForm .add {
    background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    color: #333;
    font-variant: normal;
    font-weight: normal;
    line-height:  1.4285714285714;
    height: 2.228571428571em;
    padding: 3px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: inherit;
    white-space: nowrap;
    position: relative;
    float: left;
    margin-right: -14px;
}

form.payloadForm .add:hover, form.payloadForm .add:focus {
	background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
	border-color: #999;
	color: #000;
}

form.payloadForm .add:active {
	background-color: #f2f2f2;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.1);
}

.payloadHeading {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857142857143;
}

.payloadHeadingList {
    border-top: 1px solid #ccc;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857142857143;
    padding-top: 5px;
}

.payloads {
	margin-top: 10px;
}

#downloadHazardReportButton {
    display: none;
}

.TransferNotPossibleText {
    color: #D04437;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
}

.TransferNotPossibleNoHRs {
    padding-left: 20px;
}

.TransferNoProperties {
    margin-top: 5px;
    margin-bottom: 5px;
}

.TargetIsDeleted {
    text-decoration: line-through;
}

.table {
    display: table;
    width: 960px;
}

.header {
    display:table-header-group;
    font-weight:bold;
}
.row {
    display:table-row;
}
.rowGroup {
    display:table-row-group;
}
.cell {
    display:table-cell;
}

.cell > span, .newCauseFormTrigger > span, .transferFormTrigger > span {
    padding-left: 10px;
}

.causeButtons {
    width: 146px;
}

.causeButtonTop {
    margin-bottom: 3px;
}

.trigger {
    cursor: pointer;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

.row > .cell:nth-child(1) {
    width: 10%;
    max-width: 10%;
}

.row > .cell:nth-child(2) {
    width: 50%;
    max-width: 50%;
}

.CausesTableTitleText {
    max-width: 90%;
    word-wrap: break-word;
}

.row > .cell:nth-child(3) {
    width: 14%;
    max-width: 14%;
}

.CausesTableOwnerText {
    max-width: 85%;
    word-wrap: break-word;
}

.row > .cell:nth-child(4) {
    width: 20%;
    max-width: 20%;
}
.row > .cell:nth-child(5) {
    width: 6%;
    max-width: 6%;
}

#causeForm, #transferredForm {
    float: left;
    margin-bottom: 15px;
    margin-left: -95px;
    width: 536px;
}

.CausesHeadingTwo {
    border-top: 1px black solid;
    width: 950px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.causeBody > h2 {
    margin-left: 14%;
}

.aui-page-header-inner > h2 {
    font-weight: bold;
}

.panelBody {
    box-sizing: border-box;
    overflow: auto;
    padding:20px 20px 0 20px;
}

#deleteReasonForm, .deleteReasonText {
    margin-left: 20px;
}

.container {
    display: none;
}

.getReports {
   cursor: pointer;
}

.CausesHeadingOne {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.CausesHeadingOneContent {
    font-size: 16px;
    font-weight: normal;
    display: inline;
}

.CausesTableEditEntryField {
    padding-top: 5px;
    padding-bottom: 5px;
}

.CausesTableEditEntryFieldLast {
    margin-bottom: -20px;
}

.CausesTableEditEntryFieldLabelHeadingTwo {
    float: left;
    margin-left: -95px;
    padding: 0 0 0 0;
    position: relative;
    text-align: right;
    width: 130px;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #707070;
}

.CausesTableTransferredCauseText {
    padding-left: 15px;
    max-width: 500px;
    overflow: auto;
    word-wrap: break-word;
}

.CausesButtonPanel {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* JOINT STYLES FOR THE CONFIRM DIALOG BEGIN */
.ConfirmDialogHeadingOne {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.ConfirmDialogHeadingTwo {
    margin: 0;
    padding: 0;
}

.ConfirmDialogContentTwo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ConfirmDialogHeadingOneContent {
    font-weight: normal;
    display: inline;
}

.ConfirmDialogTableHeader {
    text-align: left;
}

.ConfirmDialogDescriptionText {
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ConfirmDialogLabelContainer {
    width: 12%;
    display: inline-block;
}

.ConfirmDialogReasonTextContainer {
    width: 72%;
    display: inline-block;
}

.ConfirmDialogReasonTextContainerNoButton {
    width: 88%;
    display: inline-block;
}

.ConfirmDialogDuplButtonContainer {
    width: 16%;
    display: inline-block;
}

.ConfirmDialogDuplButton {
    margin-left: 10px;
    padding: 2px 5px 2px 5px;
}

.ConfirmDialogErrorText {
    margin: 0;
    font-size: 11px;
    font-style: italic;
    color: red;
}

.ConfirmDialogErrorTextHidden {
    display: none;
}

.ConformDialogTopRow {
    border-top: 1px dashed black;
}
/* JOINT STYLES FOR THE CONFIRM DIALOG END */

/* CONTROL STYLES FOR THE CONFIRM DIALOG BEGIN */
.ConfirmDialogTableCellOneControls {
    width: 30px;
}

.ConfirmDialogTableCellTwoControls {
    width: 410px;
}

.ConfirmDialogTableCellThreeControls {
    width: 160px;
}

.ConfirmDialogReasonTextControls {
    width: 100%
}
/* CONTROL STYLES FOR THE CONFIRM DIALOG END */

/* VERIFICATION STYLES FOR THE CONFIRM DIALOG BEGIN */
.ConfirmDialogTableAllCells {
    padding: 0;
    vertical-align: top;
}

.ConfirmDialogTableCellOneVerifications {
    width: 30px;
}

.ConfirmDialogTableCellTwoVerifications {
    width: 410px;
}

.ConfirmDialogTableCellThreeVerifications {
    width: 160px;
}

.ConfirmDialogReasonTextVerifications {
    width: 100%
}
/* VERIFICATION STYLES FOR THE CONFIRM DIALOG END */

/* CAUSE STYLES FOR THE CONFIRM DIALOG BEGIN */
.ConfirmDialogTableCellOneCauses {
    width: 30px;
}

.ConfirmDialogTableCellTwoCauses {
    width: 410px;
}

.ConfirmDialogTableCellThreeCauses {
    width: 160px;
}

.ConfirmDialogReasonTextCauses {
    width: 100%
}
/* CAUSE STYLES FOR THE CONFIRM DIALOG END */

/* HAZARD DELETION STYLES FOR THE CONFIRM DIALOG BEGIN */
.ConfirmDialogTableCellOneHazard {
    width: 300px;
}

.ConfirmDialogTableCellTwoHazard {
    width: 200px;
}

.ConfirmDialogHazardAssociations {
    padding-top: 10px;
}

.ConfirmDialogHazardAssociationText {
    padding-left: 10px;
}
/* HAZARD DELETION STYLES FOR THE CONFIRM DIALOG END */

/* ERROR PAGE STYLES BEGIN */
.ErrorPageContainer {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
}

.ErrorPageStaticMessage {
    font-weight: bold;
    color: #D04437;
}
/* ERROR PAGE STYLES END */