<html>
	<head>
		<title>Hazard Form</title>
		<meta name="decorator" content="atl.general">
	</head>
	<body class="aui-layout aui-theme-default">
		#parse("/templates/general-navigation.vm")
		#parse("/templates/mission-hazard-navigation.vm")
		#parse("/templates/hazard-properties-navigation.vm")
		<div class="aui-page-panel">
			<div class="aui-page-panel-inner">
				<section class="aui-page-panel-content">
					<div id="ContentHolder">
						Hazard content
					</div>



<!-- 					<div id="hazard-content">
						#parse("/templates/hazard-content.vm")
					</div>
					<div class="HazardPageHiddenContent" id="cause-content">
						#parse("/templates/cause-content.vm")
					</div>
					<div class="HazardPageHiddenContent" id="control-content">
						#parse("/templates/control-content.vm")
					</div>

					<div class="nav-content" id="content-1">
						#parse("/templates/HazardForm.vm")
					</div>
					<div class="nav-content" id="content-2">
						#parse("/templates/CausePage.vm")
					</div>
					<div class="nav-content" id="content-3">
						#parse("/templates/ControlPage.vm")
					</div>
					<div class="nav-content" id="content-4">
						#parse("/templates/VerificationPage.vm")
					</div> -->
				</section>
			</div>
		</div>
	</body>
</html>