#foreach($transfer in $transfers)
	#if($transfer.getTransferID() == $cause.getTransfer())
		<div class="row">
    		<div class="cell trigger"><span class="aui-icon aui-icon-small aui-iconfont-add"></span>Cause $!cause.getCauseNumber()</div>
    		<div class="cell causeTitle">
    			#if($transfer.getDeleted() == true)
    				#if($transfer.getTransferType() == "CAUSE")
    					<div class="CausesTableTitleText TargetIsDeleted">$!transfer.getHazardNumb():CAUSE $!transfer.getCauseNum() - $!transfer.getMainTitle()</div>
    				#end
    				#if($transfer.getTransferType() == "HAZARD")
    					<div class="CausesTableTitleText TargetIsDeleted">$!transfer.getHazardNumb() - $!transfer.getMainTitle()</div>
    				#end
    			#else
	    			#if($transfer.getTransferType() == "CAUSE")
    					<div class="CausesTableTitleText">
    						<a
    							href="$baseUrl/plugins/servlet/causeform?edit=y&key=$transfer.getHazardID()&id=$transfer.getTargetID()&trans=y">
    							$!transfer.getHazardNumb():CAUSE $!transfer.getCauseNum() - $!transfer.getMainTitle()
    						</a>
    					</div>
	    			#end
	    			#if($transfer.getTransferType() == "HAZARD")
	    				<div class="CausesTableTitleText">
	    					<a
	    						href="$baseUrl/plugins/servlet/hazardlist?edit=y&key=$transfer.getTargetID()">
	    						$!transfer.getHazardNumb() - $!transfer.getMainTitle()
	    					</a>
	    				</div>
	    			#end
    			#end
			</div>
    		<div class="cell"><div class="CausesTableOwnerText">$!cause.getOwner()</div></div>
    		<div class="cell lastUpdated">$!cause.getLastUpdated()</div>
       		<div class="cell"><input type="checkbox" class="deleteCause" data-causeid="$!cause.getID()" /></div>
    	</div>
    	<div class="formContainer row" id="$cause.getID()">
    		<div class="cell"></div>
    		<div class="cell toggle">
    			#if($transfer.getTransferType() == "CAUSE")
	    			<div class="CausesTableEditEntryField">
						<label class="CausesTableEditEntryFieldLabelHeadingTwo" for="causeTargetHazardTitle">Hazard Title </label>
						<div class="CausesTableTransferredCauseText">$!transfer.getSecondaryTitle()</div>
					</div>
	    			<div class="CausesTableEditEntryField">
						<label class="CausesTableEditEntryFieldLabelHeadingTwo" for="causeTargetHazardNo">Hazard # </label>
						<div class="CausesTableTransferredCauseText">$!transfer.getHazardNumb()</div>
					</div>
	    			<div class="CausesTableEditEntryField">
						<label class="CausesTableEditEntryFieldLabelHeadingTwo" for="causeTargetHazardCauseTitle">Cause Title </label>
						<div class="CausesTableTransferredCauseText">$!transfer.getMainTitle()</div>
					</div>
	    			<div class="CausesTableEditEntryField">
						<label class="CausesTableEditEntryFieldLabelHeadingTwo" for="causeTargetHazardCauseRiskCategory">Risk Category </label>
						<div class="CausesTableTransferredCauseText">$!transfer.getRiskCategory()</div>
					</div>
	    			<div class="CausesTableEditEntryField CausesTableEditEntryFieldLast">
						<label class="CausesTableEditEntryFieldLabelHeadingTwo" for="causeTargetHazardCauseRiskLikelihood">Risk Likelihood </label>
						<div class="CausesTableTransferredCauseText">$!transfer.getRiskLikelihood()</div>
					</div>
				#end
				#if($transfer.getTransferType() == "HAZARD")
	    			<div class="CausesTableEditEntryField">
						<label class="CausesTableEditEntryFieldLabelHeadingTwo" for="causeTargetHazardTitle">Hazard Title </label>
						<div class="CausesTableTransferredCauseText">$!transfer.getMainTitle()</div>
					</div>
	    			<div class="CausesTableEditEntryField CausesTableEditEntryFieldLast">
						<label class="CausesTableEditEntryFieldLabelHeadingTwo" for="causeTargetHazardNo">Hazard # </label>
						<div class="CausesTableTransferredCauseText">$!transfer.getHazardNumb()</div>
					</div>
				#end
				<form class="aui transferredForms" id="transferredForm" method="post" action="causeform" data-key="$!cause.getID()">
					<div class="field-group">
					    <label for="causeDescription">Transfer Reason</label>
					    <textarea class="textarea long-field" rows="6" cols="10" name="causeDescription" id="causeDescription">$!transfer.getTransferReason()</textarea>
					</div>
<!-- 					<div class="buttons-container">
						<button type="button" class="button causeButtons transfers" id="causeAddControl" disabled>Add Control</button>
						<button type="button" class="button causeButtons transfers" id="causeAddReference" disabled>Add Reference Doc</button>
					</div> -->
					<input type="hidden" name="causeTitle" id="causeTitle" value="Title">
					<input type="hidden" name="edit" id="edit" value="y">
					<input type="hidden" name="key" id="key" value="$!cause.getID()">
					<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
				</form>
    		</div>
    		<div class="cell"></div>
    		<div class="cell"></div>
    		<div class="cell"></div>
    	</div>
	#end
#end