<div id="CauseTableHolder">
	<div class="column">
		<div id="causeHeadings">
			<h2>Title</h2>
			<span>Last updated</span>
		</div>
	    <ul class="causeFormList">
	        <li class="causeFormHeading">
		        <span class="causeNumber">Cause 1</span>Improper workmanship
		        <span class="causeLastEdit">May 08, 2014, 11:48</span>
		        <ul class="causeFormData">
		        	<li>#parse("/templates/causeForm.vm")</li>
		        </ul>
		    </li>
	        <li class="causeFormHeading">
	        	<span class="causeNumber">Cause 2</span>Inadequate design to withstand pressures
		        <span class="causeLastEdit">May 08, 2014, 11:48</span>
		        <ul class="causeFormDropdown">
		        	<li>#parse("/templates/causeForm.vm")</li>
		        </ul>
		    </li>
	        <li class="causeFormHeading">
	        	<span class="causeNumber">Cause 3</span>MMOD strike
	        	<span class="causeLastEdit">May 08, 2014, 11:48</span>
	        	<ul class="causeFormDropdown">
		        	<li>#parse("/templates/causeForm.vm")</li>
		        </ul>
	        </li>
	    </ul>
	</div>
</div>
<div id="CauseFormHolder">
	#parse("/templates/causeForm.vm")
</div>