<form class="aui" id="causeForm" method="post" action="causeform">
	<div class="field-group">
	    <label for="causeTitle">Title <span class="aui-icon icon-required">(required)</span></label>
	    <input class="text long-field" type="text" id="causeTitle" name="causeTitle">
	</div>
	<div class="field-group">
	    <label for="causeOwner">Owner</label>
	    <input class="text long-field" type="text" id="causeOwner" name="causeOwner">
	</div>
	<div class="field-group">
	    <label for="causeEffect">Effects</label>
	    <input class="text long-field" type="text" id="causeEffect" name="causeEffect">
	</div>
	<div class="field-group">
	    <label for="causeDescription">Description</label>
	    <textarea class="textarea long-field" name="causeDescription" id="causeDescription"></textarea>
	</div>
	<div class="buttons-container">
		<div class="causeButtonTop">
			<input class="button causeButtons" type="submit" value="Save Changes" id="causeSaveChanges">
			<input class="button causeButtons" type="submit" value="Add Cause Link" id="causeAddLink">
		</div>
		<div>
			<input class="button causeButtons" type="submit" value="Add Control" id="causeAddControl">
			<input class="button causeButtons" type="submit" value="Add Reference Doc" id="causeAddReference">
		</div>
	</div>
</form>