<form class="aui causeForms" id="causeForm" method="post" action="causeform" data-key="$!cause.getID()">
	<div class="field-group">
	    <label for="causeTitle">Title <span class="aui-icon icon-required">(required)</span></label>
	    <input class="text long-field" type="text" id="causeTitle" name="causeTitle" value="$!cause.getTitle()">
	</div>
	<div class="field-group">
	    <label for="causeOwner">Owner</label>
	    <input class="text long-field" type="text" id="causeOwner" name="causeOwner" value="$!cause.getOwner()">
	</div>
	<div class="field-group">
	    <label for="causeEffects">Effects</label>
	    <input class="text long-field" type="text" id="causeEffects" name="causeEffects" value="$!cause.getEffects()">
	</div>
	<div class="field-group">
	    <label for="causeDescription">Description</label>
	    <textarea class="textarea long-field" rows="6" cols="10" name="causeDescription" id="causeDescription">$!cause.getDescription()</textarea>
	</div>
	<div class="buttons-container">
		<button type="button" class="button causeButtons transfers" id="causeAddControl" data-key="$cause.getID()-$hazardID" disabled>Add Control</button>
		<button type="button" class="button causeButtons transfers" id="causeAddReference" disabled>Add Reference Doc</button>
	</div>
	<input type="hidden" name="causeNumber" id="causeNumber" value="$!cause.getCauseNumber()">
	<input type="hidden" name="edit" id="edit" value="y">
	<input type="hidden" name="key" id="key" value="$!cause.getID()">
</form>