<div class="causeBody">
	<h2>$!newestHazard.getHazardNum() - $!newestHazard.getTitle()</h2>
	#if($causes.size() > 0)
		<button class="aui-button" id="expandAll">Expand all</button>
		<div id="CauseTableHolder" class="table">
			<div class="header">
		    	<div class="cell"></div>
		    	<div class="cell">Title</div>
			    <div class="cell">Owner</div>
		    	<div class="cell">Last updated</div>
		    	<div class="cell">Delete?</div>
		  	</div>
		  	#foreach( $cause in $causes )
			  	<div class="rowGroup">
			    	<div class="row">
			    		<div class="cell trigger"><span class="aui-icon aui-icon-small aui-iconfont-add"></span>$!cause.getCauseNumber()</div>
			    		<div class="cell">$!cause.getTitle()</div>
			    		<div class="cell">$!cause.getOwner()</div>
			    		<div class="cell lastUpdated">$!cause.getLastUpdated()</div>
			    		<div class="cell"><input type="checkbox" class="deleteCause"></div>
			    	</div>
			    	<div class="formContainer row" id="$cause.getID()">
			    		<div class="cell"></div>
			    		<div class="cell toggle">#parse("/templates/causeForm.vm")</div>
			    		<div class="cell"></div>
			    		<div class="cell"></div>
			    		<div class="cell"></div>
			    	</div>
			  	</div>
			#end
		</div>
		<input class="aui-button" id="causeSaveAllChanges" type="submit"></input>
	#end
	<div class="newCauseFormHolder">
		<h3>Add New Cause</h3>
		#parse("/templates/NewCauseForm.vm")
	</div>
</div>