<div class="causeBody">
	<div class="CausesHeaderHazardInfo">
		<span class="CausesHeadingOne">Hazard Title:
			 <span class="CausesHeadingOneContent" id="HazardTitleForCause">$!hazardTitle</span>
		</span>
		<span class="CausesHeadingOne">Hazard #:
			 <span class="CausesHeadingOneContent" id="HazardNumberForCause">$!hazardNumber</span>
		</span>
	</div>
	<span class="CausesHeadingOne">Causes:</span>
	#if($causes.size() > 0)
		<div id="CauseTableHolder" class="table">
			<div class="header">
		    	<div class="cell"></div>
		    	<div class="cell">Title</div>
			    <div class="cell">Owner</div>
		    	<div class="cell">Last updated</div>
		    	<div class="cell">Delete?</div>
		  	</div>
		  	#foreach( $cause in $causes )
			  	<div class="rowGroup" id="CausesTableEntry$cause.getID()">
				    #if($cause.getTransfer() != 0)
				    	#parse("/templates/transferred.vm")
				    #else
					   	<div class="row">
				    		<div class="cell trigger"><span class="aui-icon aui-icon-small aui-iconfont-add"></span>Cause $!cause.getCauseNumber()</div>
				    		<div class="cell causeTitle"><div class="CausesTableTitleText">$!cause.getTitle()</div></div>
				    		<div class="cell"><div class="CausesTableOwnerText">$!cause.getOwner()</div></div>
				    		<div class="cell lastUpdated">$!cause.getLastUpdated()</div>
				    		<div class="cell"><input type="checkbox" class="deleteCause" data-causeid="$!cause.getID()" /></div>
				    	</div>
				    	<div class="formContainer row" id="$cause.getID()">
				    		<div class="cell"></div>
				    		<div class="cell toggle">#parse("/templates/causeForm.vm")</div>
				    		<div class="cell"></div>
				    		<div class="cell"></div>
				    		<div class="cell"></div>
				    	</div>
				    #end
			  	</div>
			#end
		</div>
		<div class="CausesButtonPanel">
			<button class="aui-button causeSaveAllChanges" type="button" data-new="false">Save All Changes</button>
			<button class="aui-button" disabled>Renumber and Save</button>
			<button class="aui-button" id="expandAll">Expand all</button>
		</div>
	#else
		<p>No causes have been created for this hazard report.</p>
	#end
	<div class="CausesHeadingTwo">
		<span class="aui-icon aui-icon-small aui-iconfont-add" id="newCauseFormTrigger"></span>
		<span>Add New Cause</span>
	</div>
	<div class="newFormContainer">
		#parse("/templates/NewCauseForm.vm")
	</div>
	<div class="CausesHeadingTwo">
		<span class="aui-icon aui-icon-small aui-iconfont-add" id="transferFormTrigger"></span>
		<span>Add Cause Transfer</span>
	</div>
	<div class="transferFormContainer">
		#parse("/templates/transferForm.vm")
	</div>
</div>