#macro( substr $__text $__length)
	#if($__text && $__length)
		#if($__text.length() > $__length)
			#set( $__endIndex = $__length - 1)
			$__text.substring(0, $__endIndex)...
		#else
			$__text
		#end
	#end
#end

<html>
	<head>
		<title>HTS</title>
		<meta name="decorator" content="atl.general">
		$webResourceManager.requireResourcesForContext("HTSContext")
	</head>
	<body class="aui-layout aui-theme-default">
		#parse("/templates/general-navigation.vm")
		<div id="MainContent">
			<div id="ContentHolder">
				#parse("/templates/hazard-page-mission-hazard-nav.vm")
				#parse("/templates/hazard-page-prop-nav.vm")
				<div class="aui-page-panel">
					<div class="aui-page-panel-inner">
						<section class="aui-page-panel-content">
							#if ($causes.size() == 0)
								<p>No Causes have been created for this Hazard Report.</p>
							#else
								<table cellspacing="0" class="HazardPropertyTable" id="CausePageTable">
									<thead>
										<tr>
											<th class="HazardPropertyTableTh HazardPropertyTableCell1"></th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell2"></th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell3">Title</th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell4">Owner</th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell5">Last updated</th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell6">
												<div class="HazardPropertyTableCell6Img"></div>
											</th>
										</tr>
									</thead>
									<tbody id="HazardPropertyTableBody">
										#foreach ($cause in $causes)
										
											#if ($cause.getTransfer() != 0)
												#parse("/templates/cause-existing-transfer.vm")
											#else
												#parse("/templates/cause-existing-regular.vm")
											#end
										#end
									</tbody>
								</table>
								<div class="HazardPropertyTableButtonsContainer">
									<input class="aui-button CausePageSaveAllChanges" type="button" value="Save All Changes" data-ops="all">
									<input class="aui-button renumberButton" type="button" value="Renumber &amp; Save" style="margin: 0" hazardid=$hazard.getID()>
									<input class="aui-button" type="button" value="Expand All" id="CausePageExpandAllButton" style="margin: 0">
								</div>
							#end
							<div>
								<div class="HazardPropertyHeadingTwo">
									<span class="aui-icon aui-icon-small aui-iconfont-add" id="CausePageAddNewCause"></span>
									<span>Add New Cause</span>
								</div>
								<div id="CausePageNewContainer">
									#parse("/templates/cause-new.vm")
								</div>
								<div class="HazardPropertyHeadingTwo">
									<span class="aui-icon aui-icon-small aui-iconfont-add" id="CausePageAddTransfer"></span>
									<span>Add Cause Transfer</span>
								</div>
								<div id="CausePageTransferContainer">
									#parse("/templates/cause-transfer.vm")
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		
		<section role="dialog" id="renumber-dialog" class="aui-layer aui-dialog2 aui-dialog2-small aui-dialog2-warning " aria-hidden="true" 
			data-aui-model="true"
			data-aui-remove-on-hide="true">
		    <!-- Dialog header -->
		    <header class="aui-dialog2-header">
		        <h2 class="aui-dialog2-header-main">Are you sure?</h2>
		    </header>
		    <!-- Main dialog content -->
		    <div class="aui-dialog2-content">
		        <p>You are about to renumber all of the causes, controls, and verifications for this hazard.</p>
		        <p>This action cannot be undone!</p>
		    </div>
		    <!-- Dialog footer -->
		    <footer class="aui-dialog2-footer">
		        <!-- Actions to render on the right of the footer -->
		        <div class="aui-dialog2-footer-actions">
		            <button id="renumber-submit-button" class="aui-button aui-button-primary">OK</button>
		            <button id="renumber-close-button" class="aui-button">Cancel</button>
		        </div>
		    </footer>
		</section>
	</body>
</html>