#macro( substr $__text $__length)
	#if($__text && $__length)
		#if($__text.length() > $__length)
			#set( $__endIndex = $__length - 1)
			$__text.substring(0, $__endIndex)...
		#else
			$__text
		#end
	#end
#end

#macro( getCauseName $_cause $_length)
	#if($_cause.getTransfer() == 0)
		#substr( $_cause.getTitle() $_length)
	#else
		#set ($_theCause = $transferredCauses.get($_cause.getID()))
		#if ($_theCause.getMovedProject())
			&lt;The transfer target is in another JIRA project: $_theCause.getMovedProject()&gt;
	    #else
			#if ($_theCause.getTransferTargetType() == "CAUSE")
				#if (!$_theCause.getTargetHazardNumber() || !$_theCause.getTargetHazardNumber() == "")
					(TRANSFER) - &lt;Hazard id=$_theCause.getTargetHazardID()&gt;:CAUSE $_theCause.getTargetCauseNumber() - #substr($_theCause.getTargetCauseTitle() $_length)
				#else
					(TRANSFER) - $_theCause.getTargetHazardNumber():CAUSE $_theCause.getTargetCauseNumber() - #substr($_theCause.getTargetCauseTitle() $_length)
				#end
			#else
				#if(!$_theCause.getTargetHazardNumber() || !$_theCause.getTargetHazardNumber() == "")
					(TRANSFER) - &lt;Hazard id=$_theCause.getTargetHazardID()&gt;:&lt;ALL CAUSES&gt;
				#else
					(TRANSFER) - $_theCause.getTargetHazardNumber():&lt;ALL CAUSES&gt;
				#end
			#end
		#end
	#end
#end

#macro( getControlName $_control $_length)
	#if($_control.getTransfer() == 0)
		#substr($_control.getDescription() $_length)
	#else
		#set ($_theControl = $transferredControls.get($_control.getID()))
		#set( $_targetCauseNum = "Orph")
		#if ( $_theControl.getTargetCauseNumber() > 0)
			#set($_targetCauseNum = $_theControl.getTargetCauseNumber())
		#end
		#if ($_theControl.getMovedProject())
			(TRANSFER) &lt;The transfer target is in another JIRA project: $_theControl.getMovedProject()&gt;
		#else	
			#if ($_theControl.getTransferTargetType() == "CONTROL")
				#if(!$_theControl.getTargetHazardNumber() || $_theControl.getTargetHazardNumber() == "")
					(TRANSFER) &lt;Hazard id=$_theControl.getTargetHazardID()&gt;:CONTROL $_targetCauseNum.$_theControl.getTargetControlNumber() - #substr($_theControl.getTargetControlDescription() $_length)
				#else
					(TRANSFER) $_theControl.getTargetHazardNumber():CONTROL $_targetCauseNum.$_theControl.getTargetControlNumber() - #substr($_theControl.getTargetControlDescription() $_length)
				#end
			#else
				#if(!$_theControl.getTargetHazardNumber() || $_theControl.getTargetHazardNumber() == "")
					(TRANSFER) &lt;Hazard id=$_theControl.getTargetHazardID()&gt;:CAUSE $_targetCauseNum - #substr($_theControl.getTargetCauseTitle() $_length)
				#else
					(TRANSFER) $_theControl.getTargetHazardNumber():CAUSE $_targetCauseNum - #substr($_theControl.getTargetCauseTitle() $_length)
				#end
			#end
		#end
	#end
#end

#macro( getVerificationNumber $_verification)
	#set( $_causeNum = "" )
	#set( $_separator = "" )
	#set( $_controlNum = "Orph" )
	#set( $_controls = $_verification.getControls())
	#if( $_controls)
		#foreach($_control in $_verification.getControls())
			#set( $_causeNum = "Orph" )
			#set($_separator = "." )
			#set($_controlNum = $_control.getControlNumber())
			#set($_causes = $_control.getCauses())
			#if($_causes)
				#foreach($_cause in $_control.getCauses())
					#set($_causeNum = $_cause.getCauseNumber())
					#break
				#end
			#end
			#break
		#end
	#end
	$_causeNum$_separator$_controlNum.$verification.getVerificationNumber()
#end

#macro( getVerificationName $_verification $_length)
	#if($_verification.getTransfer() == 0)	
		#substr( $_verification.getVerificationDesc() $_length)
	#else
		#set ($_target = $_transferredVerification.get($_verification.getID()))
		#set ($_verificationNum = "Orph")
		#if($_target.getControls() && $_target.getControls().size() > 0)
			#set($_controlParent = $_target.getControls().get(0))
			#set($_controlNum = $_controlParent.getControlNumber())		
			#if($_controlParent.getCauses().size() > 0)
				#set($_causeNum = $_controlParent.getCauses().get(0).getCauseNumber())
				#set($_verificationNum = "$_causeNum.$_controlNum")
			#else
				#set($_verificationNum = $_controlNum)
			#end
		#end
		
		#set($_verificationDesc = "")
		#if($_target.getVerificationDesc())
			$_verificationDesc = "- #substr($_target.getVerificationDesc() $_length)"
		#end
		(TRANSFER) - Verification #getVerificationNumber($_target) $_verificationDesc
	#end
#end



<html>
	<head>
		<title>Hazard Tracking System</title>
		<meta name="decorator" content="atl.general">
		$webResourceManager.requireResourcesForContext("HTSContext")
	</head>
	<body class="aui-layout aui-theme-default">
		#parse("/templates/general-navigation.vm")
		<div id="MainContent">
			<div id="ContentHolder">
				#parse("/templates/hazard-page-mission-hazard-nav.vm")
				#parse("/templates/hazard-page-prop-nav.vm")
				<div class="aui-page-panel">
					<div class="aui-page-panel-inner">
						<section class="aui-page-panel-content">
							#if ($numControls == 0)
								<p>No Controls have been created for this Hazard Report.</p>
							#else
								<div class="controlListHeader">
									<span class="headerDescription">Title</span>
									<span class="headerDate">Last updated</span>
									<span class="headerDelete"><div class="HazardPropertyTableCell6Img"></div></span>
								</div>
								<ul id="controlsList">
									#foreach ($cause in $causes)
										#if(!$cause.getDeleteReason() )
										#set( $numControls = 0 )
										
										#foreach ($control in $cause.getControls())
											#if( !$control.getDeleteReason() || $control.getDeleteReason().isEmpty() )
												#set( $numControls = $numControls + 1 )
											#end
										#end
										<li>
											 <div class="causeHeader" id="CauseTableEntryID$cause.getID()">
												<span class="ControlCauseTableToggle aui-icon aui-icon-small aui-iconfont-devtools-task-disabled">Expand/collapse this cause</span>
												<span class="causeNumber"><a href="causes?id=$hazard.getID()#causeID$cause.getID()" causeID="$cause.getID()">Cause $cause.getCauseNumber()</a> ($numControls)</span>
												<span class="causeTitle">
													#set($length = 75)
													#if($cause.getTransfer() == 0)
														#getCauseName($cause $length)
													#else
														#set ($theCause = $transferredCauses.get($cause.getID()))
														#if ($theCause.isDeleted() == true)
															<div class="HTSTransferDeletedOrigin">
																#getCauseName($cause $length)
															</div>
														#else
															#if ($theCause.getTransferTargetType() == "CAUSE")
															<a href="causes?id=$!theCause.getTargetHazardID()" originID="$!theCause.getOriginID()" targetID="$!theCause.getTargetID()" class="transferLink" >
															#else
															<a href="hazards?id=$!theCause.getTargetHazardID()">
															#end
																#getCauseName($cause $length)
															</a>
														#end
														
													#end
												</span>
											</div>
											#set( $activeCauses = 0 )
											#if ($cause.getControls() )
											<ul>												
												#foreach ($control in $cause.getControls())
													#if( !$control.getDeleteReason() || $control.getDeleteReason().isEmpty() )
													<li>
														#set( $activeCauses = $activeCauses + 1 )
														#if( $control.getTransfer() != 0)
															#parse("/templates/control-existing-transfer.vm")
														#else
															#parse("/templates/control-existing-regular.vm")
														#end
													</li>
													#end												
												#end
											</ul>
											#end
											#if($activeCauses == 0)
												<span class="noControlsMessage">No controls for this cause.</span>
											#end
										</li>
										#end
									#end
									#if($orphanControls.size() > 0 )
										<li>
											<div class="causeHeader" id="orphanControls">
												<span class="ControlCauseTableToggle aui-icon aui-icon-small aui-iconfont-devtools-task-disabled">Expand/collapse this cause</span>
												<span class="causeNumber">Orphan Controls ($orphanControls.size())</span>												
											</div>

											<ul>												
												#foreach ($control in $orphanControls)
												<li>																								
													#if( !$control.getDeleteReason() || $control.getDeleteReason().isEmpty() )
														#set( $activeCauses = $activeCauses + 1 )
														#if( $control.getTransfer() != 0)
															#parse("/templates/control-existing-transfer.vm")
														#else
															#parse("/templates/control-existing-regular.vm")
														#end
													#end
												</li>
												#end
											</ul>
										</li>
									#end
								</ul>								
								<div class="HazardPropertyTableButtonsContainer">
									<input class="aui-button ControlPageSaveAllChanges" type="button" value="Save All Changes" data-ops="all">
									<input class="aui-button" type="button" value="Renumber &amp; Save" style="margin: 0" id="renumberButton" onclick="renumberHazard($hazard.getID())">
									<input class="aui-button" type="button" value="Expand All" id="ControlPageExpandAllButton" style="margin: 0">
									<input class="aui-button" type="button" value="Close All" id="ControlPageCloseAllButton" style="margin: 0">
								</div>
							#end
							<div>
								<div class="HazardPropertyHeadingTwo">
									<span class="aui-icon aui-icon-small aui-iconfont-add" id="ControlPageAddNewControl"></span>
									<span>Add New Control</span>
								</div>
								<div id="ControlPageNewContainer">
									#parse("/templates/control-new.vm")
								</div>
								<div class="HazardPropertyHeadingTwo">
									<span class="aui-icon aui-icon-small aui-iconfont-add" id="ControlPageAddTransfer"></span>
									<span>Add Control Transfer</span>
								</div>
								<div id="ControlPageTransferContainer">
									#parse("/templates/control-transfer.vm")
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>