#set ($theControl = $transferredControls.get($control.getID()))

<div class="controlHeader" id="ControlTableEntryID$control.getID()">
	<a name="controlID$control.getID()"></a>
	<span class="ControlTableToggle aui-icon aui-icon-small aui-iconfont-add">Expand/Collapse Form</span>
	#set( $causeNum = "Orph" )
	#if($cause)
		#set( $causeNum = $cause.getCauseNumber() )
	#end	
	<span class="controlNumber">Control $causeNum.$control.getControlNumber()</span>
	<span class="controlDescription">
		#if ($theControl.isDeleted() == true)
			<div class="HTSTransferDeletedOrigin">
				#getControlName($control)
			</div>
		#else
			#if ($theControl.getTransferTargetType() == "CONTROL")
				<a href="controls?id=$!theControl.getTargetHazardID()#controlID$theControl.getID()" targetID="$!theControl.getTargetID()" targetType="$!theControl.getTransferTargetType()" class="controlTransferLink">
			#else
				<a href="causes?id=$!theControl.getTargetHazardID()" targetID="$!theControl.getTargetID()" targetType="$!theControl.getTransferTargetType()" class="controlTransferLink">
			#end
			#set( $length = 75)
			#getControlName($control $length)
			</a>
		#end
	</span>
	<span class="controlDate">$dateFormatter.format($control.getLastUpdated())</span>
	<input type="checkbox" value="$control.getID()" class="ControlPageDeleteBox">
</div>

<div id="ControlTableEntryContentID$control.getID()" class="HazardPropertyContentRow">
	<div class="HazardPropertyContentHolder">
		<form method="post" action="controls" class="aui ControlPageFormExisting">
			<input type="hidden" name="regular" id="regular" value="false">
			<input type="hidden" name="existing" id="existing" value="true">
			<input type="hidden" name="hazardID" id="hazardID" value="$!hazard.getID()">
			<input type="hidden" name="controlID" id="controlID" value="$!control.getID()">
			<div class="field-group">
				<label for="controlTargetHazardTitle">Hazard Title</label>
				<div class="field-group-static">
					$!theControl.getTargetHazardTitle()
				</div>
			</div>
			<div class="field-group">
				<label for="controlTargetHazardNumber">Hazard #</label>
				<div class="field-group-static">
					$!theControl.getTargetHazardNumber()
				</div>
			</div>
			#if ($theControl.getTransferTargetType() == "CONTROL")
				<div class="field-group">
					<label for="controlTargetControlDescription">Control Description</label>
					<div class="field-group-static">
						$!theControl.getTargetControlDescription()
					</div>
				</div>
				<div class="field-group">
					<label for="controlTargetControlNumber">Control #</label>
					<div class="field-group-static">
						#set($targetCauseNum = "Orph")
						#if($theControl.getTargetCauseNumber() > 0)
							#set($targetCauseNum = $theControl.getTargetCauseNumber())
						#end
						$targetCauseNum.$!theControl.getTargetControlNumber()
					</div>
				</div>
			#end
			#if ($theControl.getTransferTargetType() == "CAUSE")
				<div class="field-group">
					<label for="controlTargetCauseTitle">Cause Title</label>
					<div class="field-group-static">
						$!theControl.getTargetCauseTitle()
					</div>
				</div>
				<div class="field-group">
					<label for="controlTargetCauseNumber">Cause #</label>
					<div class="field-group-static">
						$!theControl.getTargetCauseNumber()
					</div>
				</div>
			#end
			<div class="field-group" id="ControlPageAssociateCauseContainer">
				
				#set( $associatedCause = false)
				#foreach($cause in $control.getCauses())
					#set( $associatedCause = $cause )
					#break
				#end

				<label class='popupLabels' for='controlCauseAssociation'>Associated Cause</label>
				<select class='select long-field' name='controlCauseAssociation' id='controlCauseAssociation'>
					<option value=''>-Select Cause-</option>
					#set($length = 50)
					#foreach($cause in $causes)
						#if(!$cause.getDeleteReason() || $cause.getDeleteReason().isEmpty())
							#if($associatedCause && $cause.getID() == $associatedCause.getID())
							<option value="$cause.getID()" selected>Cause $cause.getCauseNumber() - #getCauseName($cause $length)</option>
							#else
							<option value="$cause.getID()">Cause $cause.getCauseNumber() - #getCauseName($cause $length)</option>
							#end
						#end
					#end
				</select>
			</div>
			<div class="field-group">
				<label for="transferReason">Transfer Reason</label>
				<textarea class="textarea long-field" rows="4" cols="10" name="transferReason" id="transferReason">$!theControl.getTransferReason()</textarea>
			</div>
			<div class="field-group">
				<label>Verifications</label>
				<div class="associatedVerifications">
					#parse("/templates/control-associated-verifications.vm")
				</div>
			</div>
		</form>
	</div>
</div>
