<div>
	<div class="ControlsHeaderHazardInfo">
		<span class="ControlsHeadingOne">Hazard #: <span class="ControlsHeadingOneContent">$!hazardNumber</span></span>
		<span class="ControlsHeadingOne">Hazard Title: <span class="ControlsHeadingOneContent">$!hazardTitle</span></span>
	</div>
	<span class="ControlsHeadingOne">Controls:</span>
	<table class="ControlsTable">
		<thead>
			<tr>
				<th class="ControlsTableHeader ControlsTableCellOne"></th>
				<th class="ControlsTableHeader ControlsTableCellTwo">#</th>
				<th class="ControlsTableHeader ControlsTableCellThree">Description</th>
				<th class="ControlsTableHeader ControlsTableCellFour">Control Group</th>
				<th class="ControlsTableHeader ControlsTableCellFive">Created</th>
				<th class="ControlsTableHeader ControlsTableCellSix">Last updated</th>
			</tr>
		</thead>
		<tbody>
			#foreach( $hazardControl in $hazardControls )
				<tr>
					<td class="ControlsTableCellToggle" id="ControlsTableEntry$!velocityCount">
						<span class="aui-icon aui-icon-small aui-iconfont-add"></span>
					</td>
					<td>$velocityCount</td>
					<td>$hazardControl.getDescription()</td>
					<td>$hazardControl.getControlGroup().getLabel()</td>
					<td class="createdDate">$hazardControl.getOriginalDate()</td>
					<td class="lastUpdatedDate"></td>
				</tr>
				<tr>
					<td colspan="100%" class="ControlsTableEditEntryHidden" id="ControlsTableEditEntry$!velocityCount">
						<div class="ControlsTableEditEntryContainer">
							#parse("/templates/EditControlForm.vm")
						</div>
					</td>
				</tr>
			#end
		</tbody>
	</table>
	</div>
	<div class="ControlsButtonPanel">
		<button class="aui-button" class="ExpandAllControls">Expand all</button>
	</div>

	<div>
		<span class="ControlsHeadingTwo">New Control:</span>
		#parse("/templates/NewControlForm.vm")
	</div>
</div>