						<ul class="controlVerificationList">
						#set ($totalDisplayed = 0)
						#foreach ($verification in $control.getVerifications())				
							#if($verification.getID() != 0  && !$verification.getDeleteReason())
								#set ($vStatus = "N/A")
								#set ($verificationName = "")
								
								
								#if($verification.getTransfer() != 0)
									#set($verificationName = "(TRANSFER) to Verification #getVerificationNumber($transferredVerifications.get($verification.getID()))")
									#if($transferredVerifications.get($verification.getID()).getVerificationStatus())
										#set ($vStatus = $transferredVerifications.get($verification.getID()).getVerificationStatus().getLabel())										
									#end
								#else
									#set ($length = 60)				
									#set($verificationName = "#getVerificationName($verification $length)")
									#if($verification.getVerificationStatus()) 
										#set ($vStatus = $verification.getVerificationStatus().getLabel())
									#end
								#end		

												
								<li><a href="verifications?id=$hazard.getID()#verificationID$verification.getID()" targetID="$verification.getID()" class="verificationLink">Verification #getVerificationNumber($verification) (Status: $vStatus)</a> - $verificationName</li>
								
								#set ($totalDisplayed = $totalDisplayed + 1)
							#end
						#end
						</ul>
						#if($totalDisplayed == 0)
							<p>There are no verifications associated with this control.</p>
						#end
