<html>
	<head>
		<title>HTS</title>
		<meta name="decorator" content="atl.general">
		$webResourceManager.requireResourcesForContext("HTSContext")
	</head>
	<body class="aui-layout aui-theme-default">
		#parse("/templates/general-navigation.vm")
		<div id="MainContent">
			<div id="ContentHolder">
				#parse("/templates/hazard-page-mission-hazard-nav.vm")
				#parse("/templates/hazard-page-prop-nav.vm")
				<div class="aui-page-panel">
					<div class="aui-page-panel-inner">
						<section class="aui-page-panel-content">
							#if ($controls.size() == 0)
								<p>No Controls have been created for this Hazard Report.</p>
							#else
								<div class="controlListHeader">
									<span class="headerID">ID</span>
									<span class="headerDescription">Description</span>
									<span class="headerDate">Last Updated Date</span>
									<span class="headerDelete">Delete?</span>
								</div>
								<ul id="controlsList">
									#foreach ($cause in $causes)
										#if(!$cause.getDeleteReason() )
										<li>
											 <div class="causeHeader" id="CauseTableEntryID$cause.getID()">
												<span class="CauseTableToggle aui-icon aui-icon-small aui-iconfont-add">Expand this cause</span>
												<span class="causeNumber">Cause $cause.getCauseNumber()</span>
												<span class="causeTitle">$cause.getTitle()</span>
											</div>
											#set( $activeCauses = 0 )
											#if ($cause.getControls() )
											<ul>												
												#foreach ($control in $cause.getControls())
												<li>																								
													#if( !$control.getDeleteReason() || $control.getDeleteReason().isEmpty() )
														#set( $activeCauses = $activeCauses + 1 )
														#if( $control.getTransfer() != 0)
															Transfer
															## #parse("/templates/control-existing-transfer.vm")
														#else
															#parse("/templates/control-existing-regular.vm")
														#end
													#end
												</li>
												#end
											</ul>
											#end
											#if($activeCauses == 0)
												<span class="noControlsMessage">No controls for this cause.</span>
											#end
										</li>
										#end
									#end
									$orphanControls.size()
									#if($orphanControls.size() > 0 )
										<li>
											<div class="causeHeader" id="orphanControls">
												<span class="CauseTableToggle aui-icon aui-icon-small aui-iconfont-add">Expand this cause</span>
												<span class="causeNumber">Orphan Controls</span>												
											</div>
										</li>
										<ul>												
											#foreach ($control in $orphanControls)
											<li>																								
												#if( !$control.getDeleteReason() || $control.getDeleteReason().isEmpty() )
													#set( $activeCauses = $activeCauses + 1 )
													#if( $control.getTransfer() != 0)
														Transfer
														## #parse("/templates/control-existing-transfer.vm")
													#else
														#parse("/templates/control-existing-regular.vm")
													#end
												#end
											</li>
											#end
										</ul>
									#end
								</ul>								
								<div class="HazardPropertyTableButtonsContainer">
									<input class="aui-button ControlPageSaveAllChanges" type="button" value="Save All Changes" data-ops="all">
									<input class="aui-button" type="button" value="Renumber &amp; Save" style="margin: 0" disabled>
									<input class="aui-button" type="button" value="Expand All" id="ControlPageExpandAllButton" style="margin: 0">
								</div>
							#end
							<div>
								<div class="HazardPropertyHeadingTwo">
									<span class="aui-icon aui-icon-small aui-iconfont-add" id="ControlPageAddNewControl"></span>
									<span>Add New Control</span>
								</div>
								<div id="ControlPageNewContainer">
									#parse("/templates/control-new.vm")
								</div>
								<div class="HazardPropertyHeadingTwo">
									<span class="aui-icon aui-icon-small aui-iconfont-add" id="ControlPageAddTransfer"></span>
									<span>Add Control Transfer</span>
								</div>
								<div id="ControlPageTransferContainer">
									#parse("/templates/control-transfer.vm")
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>