<form class="aui">
	<!-- Test this out better! -->
	<div class="field-group">
		<label for="control-title">Title <span class="aui-icon icon-required">(required)</span></label>
		<input class="text long-field" type="text" id="control-title" name="control-title">
	</div>
	<div class="field-group">
		<label for="control-group">Control group</label>
		<select class="select" id="control-group" name="control-group">
			<option>Hardware certification</option>
			<option>Independent inhibits</option>
			<option>Multi-step commanding</option>
			<option>Software FDIR</option>
			<option>Procedure</option>
			<option>Training</option>
		</select>
	</div>
	<div class="field-group">
		<label for="control-description">Description</label>
		<textarea class="textarea long-field" name="control-description" id="control-description" placeholder="Your comment here..."></textarea>
	</div>
	<div class="buttons-container">
		<div class="buttons">
			<input class="button submit" type="submit" value="Save" id="comment-save-button">
		<a class="cancel" href="#">Cancel</a>
		</div>
	</div>
</form>