<form method="post" action="controls" class="aui" id="ControlPageFormAddNew">
	<input type="hidden" name="regular" id="regular" value="true">
	<input type="hidden" name="existing" id="existing" value="false">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazard.getID()">
	<div class="field-group" style="padding-bottom: 0">
		<label for="controlDescription"><span class="HTSRequired">* </span>Description</label>
		<textarea class="textarea long-field" name="controlDescription" id="controlDescription"></textarea>
	</div>
	<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="controlDescription">
		<span class="HTSRequired">This field is required.</span>
	</div>
	<div class="field-group">
		<label for="controlGroup">Control group</label>
		<select class="select" id="controlGroup" name="controlGroup">
			<option value="" selected>-Select-</option>
			#foreach ($controlGroup in $controlGroups)
				<option value="$controlGroup.getID()">$!controlGroup.getLabel()</option>
			#end
		</select>
	</div>
	<div class="field-group" id="ControlPageAssociateCauseContainer">
		<label class='popupLabels' for='controlCauseAssociation'>Associated Cause</label>
		<select class='select long-field' name='controlCauseAssociation' id='controlCauseAssociation'>
			<option value=''>-Select Cause-</option>
			#foreach($cause in $causes)
				#if(!$cause.getDeleteReason() || $cause.getDeleteReason().isEmpty())
				<option value="$cause.getID()">Cause $cause.getCauseNumber() #getCauseName($cause)</option>
				#end
			#end
		</select>
	</div>
	<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="controlCauseList">
		<span class="HTSRequired">Please select a Cause.</span>
	</div>

	<div class="field-group">
		<input class="aui-button ControlPageSaveAllChanges" type="button" value="Save All Changes" data-ops="new">
		<input class="button" type="button" value="Clear" id="ControlPageClearNew">
	</div>
</form>