<form class="aui" action="controlform" method="post" id="controlForm">
	<div class="field-group">
		<label for="controlGroup">Control group</label>
		<select class="select" id="controlGroup" name="controlGroup">
			#foreach( $controlGroup in $controlGroups )
				<option value="$controlGroup.getID()">$!controlGroup.getLabel()</option>
			#end
		</select>
	</div>

	<div class="field-group">
		<label for="controlDescription">Description <span class="aui-icon icon-required">(required)</span></label>
		<textarea class="textarea long-field" name="controlDescription" id="controlDescription"></textarea>
	</div>

	<div class="buttons-container">
		<div class="buttons">
			<input class="button submit" type="submit" value="Save" id="comment-save-button">
		<a class="cancel" href="#">Cancel</a>
		</div>
	</div>
</form>