#macro( substr $text $length)
	#if($text.length() > $length)
		#set( $endIndex = $length - 1)
		$text.substring(0, $endIndex)...
	#else
		$text
	#end
#end

<div class="controlHeader" id="ControlTableEntryID$control.getID()">
	<span class="ControlTableToggle aui-icon aui-icon-small aui-iconfont-add">Expand/Collapse Form</span>
	#set( $causeNum = "Orph" )
	#if($cause)
		#set( $causeNum = $cause.getCauseNumber() )
	#end	
	<span class="controlNumber">Control $causeNum.$control.getControlNumber()</span>
	<span class="controlDescription">
		#substr($control.getDescription() 75)
	</span>
	<span class="HTSDate controlDate">$control.getLastUpdated()</span>
	<input type="checkbox" value="$control.getID()" class="ControlPageDeleteBox">
</div>

<div id="ControlTableEntryContentID$control.getID()" class="HazardPropertyContentRow">
	<div class="HazardPropertyContentHolder">
		<form method="post" action="controls" class="aui ControlPageFormExisting">
			<input type="hidden" name="regular" id="regular" value="true">
			<input type="hidden" name="existing" id="existing" value="true">
			<input type="hidden" name="hazardID" id="hazardID" value="$!hazard.getID()">
			<input type="hidden" name="controlID" id="controlID" value="$!control.getID()">
			<div class="field-group" style="padding-bottom: 0">
				<label for="controlDescription"><span class="HTSRequired">* </span>Description</label>
				<textarea class="textarea long-field" name="controlDescription" id="controlDescription">$!control.getDescription()</textarea>
			</div>
			<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="controlDescription">
				<span class="HTSRequired">This field is required.</span>
			</div>
			<div class="field-group">
				<label for="controlGroup">Control group</label>
				<select class="select" id="controlGroup" name="controlGroup">
					#if (!$control.getControlGroup())
						<option value="" selected>-Select-</option>
					#else
						<option value="">-Select-</option>
					#end
					#foreach ($controlGroup in $controlGroups)
						#if ($controlGroup.getID() == $control.getControlGroup().getID())
							<option value="$controlGroup.getID()" selected>$!controlGroup.getLabel()</option>
						#else
							<option value="$controlGroup.getID()">$!controlGroup.getLabel()</option>
						#end
					#end
				</select>
			</div>
			<div class="field-group" id="ControlPageAssociateCauseContainer">
				
				#set( $associatedCause = false)
				#foreach($cause in $control.getCauses())
					#set( $associatedCause = $cause )
					#break
				#end

				<label class='popupLabels' for='controlCauseAssociation'>Associated Cause</label>
				<select class='select long-field' name='controlCauseAssociation' id='controlCauseAssociation'>
					<option value=''>-Select Cause-</option>
					#foreach($cause in $causes)
						#if(!$cause.getDeleteReason() || $cause.getDeleteReason().isEmpty())
							#if($associatedCause && $cause.getID() == $associatedCause.getID())
							<option value="$cause.getID()" selected>Cause $cause.getCauseNumber()</option>
							#else
							<option value="$cause.getID()">Cause $cause.getCauseNumber()</option>
							#end
						#end
					#end
				</select>
			</div>
	<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="controlCauseList">
		<span class="HTSRequired">Please select a Cause.</span>
	</div>
			<div class="field-group">
				<label>Verifications</label>
				<div class="associatedVerifications">
					#parse("/templates/control-associated-verifications.vm")
				</div>
			</div>
		</form>
	</div>
</div>