					<div class="associatedVerifications">
						<ul class="controlVerificationList">
						#set ($totalDisplayed = 0)
						#foreach ($verification in $control.getVerifications())				
							#if($velocityCount != 1  && !$verification.getDeleteReason())
								#set ($vStatus = "N/A")
								#if($verification.getVerificationStatus()) 
									#set ($vStatus = $verification.getVerificationStatus().getLabel())
								#end
								
								<li><a href="/jira/plugins/servlet/verifications?id=$hazard.getID()" targetID="$verification.getID()" class="verificationLink">Verification $verification.getVerificationNumber() (Status: $vStatus)</a> - $verification.getVerificationDesc()</li>
								#set ($totalDisplayed = $totalDisplayed + 1)
							#end
						#end
						</ul>
						#if($totalDisplayed == 0)
							<p>There are no verifications associated with this control.</p>
						#end
