<html>
<head>
    <title>Edit Hazard report</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResourcesForContext("org.fraunhofer.plugins.hts.hts:hts-resources")
</head>
<body class="aui-layout aui-theme-default">
 	<header class="aui-page-header">
		<div class="aui-page-header-inner">
			<h2>Edit $!hazard.getHazardNum()</h2>
		</div>
	</header>
    <div class="aui-page-panel">
		<div class="aui-page-panel-inner">
			<section class="aui-page-panel-content">
				#parse("/templates/HazardForm.vm")
    			<input type="hidden" id="oldNumber" name="hazardNumberBeforeEdit" value="$!hazard.getHazardNum()"/>
	        </section>
        </div>
</div>
</body>
</html>