<form class="aui editVerificationForm" action="verificationform" method="post" data-key="$!verification.getID()">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
	<input type="hidden" name="edit" id="edit" value="y">
	<input type="hidden" name="verificationID" id="verificationID" value="$!verification.getID()">

	<div class="field-group">
		<label for="verificationDescriptionEdit">Description <span class="aui-icon icon-required">(required)</span></label>
		<textarea class="textarea long-field" name="verificationDescriptionEdit" id="verificationDescriptionEdit">$verification.getVerificationDesc()</textarea>
	</div>
	<div class="field-group">
		<label for="verificationStatusEdit">Verification Status</label>
		<select class="select" id="verificationStatusEdit" name="verificationStatusEdit">
			#foreach( $verificationStatus in $verificationStatuses )
				#if( $verificationStatus.getID() == $verification.getVerificationStatus().getID() )
					<option value="$verificationStatus.getID()" selected>$!verificationStatus.getLabel()</option>
				#else
					<option value="$verificationStatus.getID()">$!verificationStatus.getLabel()</option>
				#end
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationTypeEdit">Verification Type</label>
		<select class="select" id="verificationTypeEdit" name="verificationTypeEdit">
			#if( !$verification.getVerificationType() )
				<option value="" selected>-Select-</option>
			#else
				<option value="">-Select-</option>
			#end
			#foreach( $verificationType in $verificationTypes )
				#if( $verificationType.getID() == $verification.getVerificationType().getID() )
					<option value="$verificationType.getID()" selected>$!verificationType.getLabel()</option>
				#else
					<option value="$verificationType.getID()">$!verificationType.getLabel()</option>
				#end
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationRespPartyEdit">Responsible Party</label>
		<input class="text long-field" type="text" id="verificationRespPartyEdit"
				name="verificationRespPartyEdit" value="$!verification.getResponsibleParty()" />
	</div>
	<div class="field-group">
		<label for="verificationComplDateEdit">Estimated Completion Date</label>
		<input class="aui-date-picker VerificationEstComplDate" name="verificationComplDateEdit" id="verificationComplDateEdit"
				type="date" data-date="$!verification.getEstCompletionDate()" />
	</div>
	<div class="field-group">
		#set( $theControls = [] )
		#set( $foundMatch = 0 )
		#foreach( $control in $allControls )
			#foreach( $selectedControl in $verification.getControls() )
				#if( $control.getID() == $selectedControl.getID() )
					#if( $control.getTransfer() != 0 )
						#foreach( $transferredControl in $allTransferredControls )
							#if ( $control.getID() == $transferredControl.getOriginID() )
								#set( $item = {} )
								#set( $item.ID = $control.getID() )
								#set( $item.number = $control.getControlNumber() )
								#set( $item.transfer = "-T" )
								#set( $item.selected = true )
								#if( !$control.getDeleteReason() )
									#set( $item.deleted = false )
								#else
									#set( $item.deleted = true )
								#end
								#if ($transferredControl.getTargetType() == "CONTROL")
									#set( $item.text = $transferredControl.getTargetHazardControlDescription() )
								#else
									#set( $item.text = $transferredControl.getTargetHazardCauseTitle() )
								#end
								#set( $result = $theControls.add($item) )
								#break
							#end
						#end
					#else
						#set( $item = {} )
						#set( $item.ID = $control.getID() )
						#set( $item.number = $control.getControlNumber() )
						#set( $item.text = $control.getDescription() )
						#set( $item.transfer = "" )
						#set( $item.selected = true )
						#if( !$control.getDeleteReason() )
							#set( $item.deleted = false )
						#else
							#set( $item.deleted = true )
						#end
						#set( $result = $theControls.add($item) )
					#end
					#set( $foundMatch = 1 )
					#break
				#end
			#end
			#if( $foundMatch == 0 )
				#if( !$control.getDeleteReason() )
					#if( $control.getTransfer() != 0 )
						#foreach( $transferredControl in $allTransferredControls )
							#if ( $control.getID() == $transferredControl.getOriginID() )
								#set( $item = {} )
								#set( $item.ID = $control.getID() )
								#set( $item.number = $control.getControlNumber() )
								#set( $item.transfer = "-T" )
								#set( $item.selected = false )
								#set( $item.deleted = false )
								#if ($transferredControl.getTargetType() == "CONTROL")
									#set( $item.text = $transferredControl.getTargetHazardControlDescription() )
								#else
									#set( $item.text = $transferredControl.getTargetHazardCauseTitle() )
								#end
								#set( $result = $theControls.add($item) )
								#break
							#end
						#end
					#else
						#set( $item = {} )
						#set( $item.ID = $control.getID() )
						#set( $item.number = $control.getControlNumber() )
						#set( $item.text = $control.getDescription() )
						#set( $item.transfer = "" )
						#set( $item.selected = false )
						#set( $item.deleted = false )
						#set( $result = $theControls.add($item) )
					#end
				#end
			#else
				#set( $foundMatch = 0 )
			#end
		#end
		<label for="verificationControlsEdit">Controls</label>
		<select class="multi-select verificationControlsEdit" size="5" multiple="multiple" name="verificationControlsEdit" id="verificationControlsEditForVerificationID$!verification.getID()">
			#foreach( $theControl in $theControls )
				#if( $theControl.selected == true )
					#if( $theControl.deleted == true )
						<option value="$theControl.ID" selected>
							$!theControl.number$!theControl.transfer (D): $!theControl.text
						</option>
					#else
						<option value="$theControl.ID" selected>
							$!theControl.number$!theControl.transfer: $!theControl.text
						</option>
					#end
				#else
					<option value="$theControl.ID">
						$!theControl.number$!theControl.transfer: $!theControl.text
					</option>
				#end
			#end
		</select>
		<div class="ControlsTableEditControlsFooterContainerOne"><span class="ControlsTableEditControlsFooter">Non-associated Controls</span></div>
		<div class="ControlsTableEditControlsFooterContainerTwo"><span class="ControlsTableEditControlsFooter">Associated Controls</span></div>
	</div>
</form>