<html>
<head>
    <title>Edit Hazard report</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResourcesForContext("hts")
</head>
<body class="aui-layout aui-theme-default">
 	<header class="aui-page-header">
		<div class="aui-page-header-inner">
			<h2>Edit $hazard.getTitle()</h2>
		</div>
	</header>
    <div class="aui-page-panel">
		<div class="aui-page-panel-inner">
			<section class="aui-page-panel-content">
	            <form method="post" action="hazardform" class="aui">
	                <input type="hidden" name="edit" value="y"/>
	                <input type="hidden" name="key" value="$hazard.getID()"/>
	                <div class="field-group">
						<label for="hazard-number">Hazard # <span class="aui-icon icon-required">(required)</span> <span class="error" id="hazardNum">Hazard # is required</span></label>
						<input class="text medium-field" type="text" id="hazard-number" name="hazard-number" value="$hazard.getHazardNum()"/>
					</div>
					<div class="field-group">
						<label for="hazard-title">Title <span class="required aui-icon icon-required">(required)</span> <span class="error" id="hazardTitle">Title is required</span></label>
						<input class="text long-field" type="text" id="hazard-title" name="hazard-title" value="$hazard.getTitle()"/>
					</div>
					<div class="field-group">
						<label for="hazard-payload">Mission/Payload</label>
						<input class="text long-field" name="hazard-payload" id="hazard-payload" value="$!hazard.getMissionPayload().getName()"/>
					</div>
					<div class="field-group">
						<label for="hazard-subsystem">System/Subsystems</label>
						<input class="text long-field" name="hazard-subsystem" id="hazard-subsystem" value="$!subsystem"/>
					</div>
					<div class="field-group">
	        			<label for="hazard-preparer">Preparer</label>
	        			<input class="text long-field" type="text" id="hazard-preparer" name="hazard-preparer" placeholder="$!hazard.getPreparer() ($!hazard.getEmail())" disabled/>
	    			</div>
					<div class="field-group">
						<label for="hazard-reviewPhase">Review Phase</label>
						<select class="select" id="hazard-reviewPhase" name="hazard-reviewPhase">
							#foreach( $reviewPhase in $reviewPhases )
								#if($reviewPhase.getID() == $hazard.getReviewPhase().getID())
									<option value="$reviewPhase.getID()" selected>$reviewPhase.getLabel()</option>
								#else
									<option value="$reviewPhase.getID()">$reviewPhase.getLabel()</option>
								#end
							#end
						</select>
					</div>
					<div class="field-group">
						<label for="hazard-risk">Risk Category</label>
							<select class="select" id="hazard-risk" name="hazard-risk">
						    	#foreach( $risk in $riskCategories )
							    	#if($risk.getID() == $hazard.getRiskCategory().getID())
										<option value="$risk.getID()" selected>$risk.getValue()</option>
									#else
										<option value="$risk.getID()">$risk.getValue()</option>
									#end
						    	#end
							</select>
						</div>
					<div class="field-group">
					    <label for="hazard-likelihood">Risk Likelihood</label>
					    <select class="select" id="hazard-likelihood" name="hazard-likelihood">
					    	#foreach( $!likelihood in $!riskLikelihoods )
				    			#if($!likelihood.getID() == $!hazard.getRiskLikelihood().getID())
									<option value="$likelihood.getID()" selected>$!likelihood.getValue()</option>
								#else
									<option value="$likelihood.getID()">$!likelihood.getValue()</option>
								#end
					    	#end
					    </select>
					</div>
					<div class="field-group">
					    <label for="hazard-group">Hazard Group</label>
					    <select class="select" id="hazard-group" name="hazard-group">
					    	#foreach( $!group in $!hazardGroups )
					    		#if($!group.getID() == $hazard.getHazardGroup().getID())
									<option value="$!group.getID()" selected>$!group.getLabel()</option>
								#else
									<option value="$!group.getID()">$!group.getLabel()</option>
								#end
					    	#end
					    </select>
					</div>
					<div class="field-group">
					    <label for="hazard-description">Description</label>
					    <textarea class="textarea long-field" name="hazard-description" id="hazard-description">$!hazard.getHazardDesc()</textarea>
					</div>
					<div class="field-group">
					    <label for="hazard-initation">Initiation Date</label>
					    <input class="aui-date-picker" name="hazard-initation" id="hazard-initation" value="$!initDate" type="date"/>
					</div>
				   	<div class="field-group">
				    	<label for="hazard-completion">Completion Date</label>
				        <input class="aui-date-picker" name="hazard-completion" id="hazard-completion" type="date" value="$!compDate"/>
				    </div>
					<div class="buttons-container">
						<div class="buttons">
					        <input class="button submit" type="submit" value="Save" id="hazard-save-button">
					        <a class="cancel" href="hazardlist">Cancel</a>
					    </div>
					</div>
	            </form>
	        </section>
        </div>
</div>
</body>
</html>