<form class="aui editControlForm" name="editControlForm" action="controlform" method="post" data-key="$!hazardControl.getID()">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
	<input type="hidden" name="edit" id="edit" value="y">
	<input type="hidden" name="controlID" id="controlID" value="$!hazardControl.getID()">
	<div class="ControlsTableEditEntryField">
		<label class="ControlsTableEditEntryFieldLabelHeadingOne" for="controlDescriptionEdit">Description <span class="aui-icon icon-required">(required)</span></label>
		<textarea class="textarea long-field" name="controlDescriptionEdit" id="controlDescriptionEdit">$hazardControl.getDescription()</textarea>
	</div>
	<div class="ControlsTableEditEntryField">
		<label class="ControlsTableEditEntryFieldLabelHeadingOne" for="controlGroupEdit">Control group</label>
		<select class="select" id="controlGroupEdit" name="controlGroupEdit">
			#foreach( $controlGroup in $controlGroups )
				#if($controlGroup.getID() == $hazardControl.getControlGroup().getID())
					#if($controlGroup.getLabel() == "null")
						<option value="$controlGroup.getID()" selected>-Select-</option>
					#else
						<option value="$controlGroup.getID()" selected>$!controlGroup.getLabel()</option>
					#end
				#else
					#if($controlGroup.getLabel() == "null")
						<option value="$controlGroup.getID()">-Select-</option>
					#else
						<option value="$controlGroup.getID()">$!controlGroup.getLabel()</option>
					#end
				#end
			#end
		</select>
	</div>
	<div class="ControlsTableEditEntryField">
		<label class="ControlsTableEditEntryFieldLabelHeadingOne" for="controlCausesEdit">Causes</label>
		<select class="multi-select controlCausesEdit" size="5" multiple="multiple" name="controlCausesEdit" id="controlCauseEditForControlID$!hazardControl.getID()">
			#set( $foundMatch = 0 )
			#foreach( $hazardCause in $hazardCauses )
				#foreach( $selectedCause in $hazardControl.getCauses() )
					#if( $hazardCause.getID() == $selectedCause.getID() )
						#if( $hazardCause.getTransfer() != 0 )
							#if( !$hazardCause.getDeleteReason() )
								<option value="$hazardCause.getID()" selected>
									$!hazardCause.getCauseNumber()-T: $!hazardCause.getTitle()
								</option>
							#else
								<option value="$hazardCause.getID()" selected>
									$!hazardCause.getCauseNumber()-T (D): $!hazardCause.getTitle()
								</option>
							#end
						#else
							#if( !$hazardCause.getDeleteReason() )
								<option value="$hazardCause.getID()" selected>
									$!hazardCause.getCauseNumber(): $!hazardCause.getTitle()
								</option>
							#else
								<option value="$hazardCause.getID()" selected>
									$!hazardCause.getCauseNumber() (D): $!hazardCause.getTitle()
								</option>
							#end
						#end
						#set( $foundMatch = 1 )
						#break
					#end
				#end
				#if( $foundMatch == 0 )
					#if( !$hazardCause.getDeleteReason() )
						#if( $hazardCause.getTransfer() != 0 )
							<option value="$hazardCause.getID()">
								$!hazardCause.getCauseNumber()-T: $!hazardCause.getTitle()
							</option>
						#else
							<option value="$hazardCause.getID()">
								$!hazardCause.getCauseNumber(): $!hazardCause.getTitle()
							</option>
						#end
					#end
				#else
					#set( $foundMatch = 0 )
				#end
			#end
		</select>
		<div class="ControlsTableEditControlsFooterContainerOne"><span class="ControlsTableEditControlsFooter">Non-associated Causes</span></div>
		<div class="ControlsTableEditControlsFooterContainerTwo"><span class="ControlsTableEditControlsFooter">Associated Causes</span></div>
	</div>
	<div class="ControlsTableEditEntryButtons">
		<button type="button" class="button" id="controlAddVerification" data-key="$hazardControl.getID()-$hazardID">Add Verification</button>
	</div>
</form>