<html>
	<head>
		<title>Error</title>
		<meta name="decorator" content="atl.general">
		$webResourceManager.requireResourcesForContext("org.fraunhofer.plugins.hts.hts:hts-resources")
	</head>
	<body class="aui-layout aui-theme-default">
		#parse("/templates/navigation.vm")
	    <div class="aui-page-panel">
	        <div class="aui-page-panel-inner">
	            <section class="aui-page-panel-content">
		        	<div class="ErrorPageContainer">
		        		<p class="ErrorPageStaticMessage">An unexpected error has occured.</p>
		        		<p>$errorMessage</p>
		        		<p><a id="ErrorPageLink" href="#">Go to HTS home page</a></p>
		        	</div>
	            </section>
	        </div>
	    </div>
	</body>
</html>