<form method="post" action="hazardform" class="aui" id="hazardForm">
    <div class="field-group">
		<label for="hazardNumber">Hazard # <span class="aui-icon icon-required">(required)</span> <span class="error" id="hazardNum">Hazard # is required</span></label>
		<input class="text medium-field" type="text" id="hazardNumber" name="hazardNumber" value="$!hazard.getHazardNum()"/>
	</div>
	<div class="field-group">
		<label for="hazardTitle">Title <span class="required aui-icon icon-required">(required)</span> <span class="error" id="hazardTitle">Title is required</span></label>
		<input class="text long-field" type="text" id="hazardTitle" name="hazardTitle" value="$!hazard.getTitle()"/>
	</div>
	<div class="field-group">
		<label for="hazardPayload">Mission/Payload</label>
		<input class="text long-field" name="hazardPayload" id="hazardPayload" value="$!hazard.getMissionPayload().getName()"/>
	</div>
	<div class="field-group">
		<label for="hazardSubsystem">System/Subsystems</label>
		<select class="multi-select" multiple="multiple" name="hazardSubsystem" id="hazardSubsystem">
			#foreach( $subsystem in $subsystems )
				#foreach( $selectedSubsys in $hazard.getSubsystems() )
					#if( $selectedSubsys.getID() == $subsystem.getID() )
						<option value="$subsystem.getID()" selected>$!subsystem.getLabel()</option>
						#break
					#else
						<option value="$subsystem.getID()">$!subsystem.getLabel()</option>
						#break
					#end
				#end
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="hazardPreparer">Preparer</label>
		#if($!{PreparerName})
			<input class="text long-field" type="text" id="hazardPreparer" name="hazardPreparer" placeholder="$!PreparerName ($!PreparerEmail)" disabled/>
		#else
			<input class="text long-field" type="text" id="hazardPreparer" name="hazardPreparer" placeholder="$!hazard.getPreparer() ($!hazard.getEmail())" disabled/>
		#end
	</div>
	<div class="field-group">
		<label for="hazardReviewPhase">Review Phase</label>
		<select class="select" id="hazardReviewPhase" name="hazardReviewPhase">
			#foreach( $reviewPhase in $reviewPhases )
				#if($reviewPhase.getID() == $hazard.getReviewPhase().getID())
					<option value="$reviewPhase.getID()" selected>$!reviewPhase.getLabel()</option>
				#else
					<option value="$reviewPhase.getID()">$!reviewPhase.getLabel()</option>
				#end
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="hazardRisk">Risk Category</label>
			<select class="select" id="hazardRisk" name="hazardRisk">
		    	#foreach( $risk in $riskCategories )
			    	#if($risk.getID() == $hazard.getRiskCategory().getID())
						<option value="$risk.getID()" selected>$!risk.getValue()</option>
					#else
						<option value="$risk.getID()">$!risk.getValue()</option>
					#end
		    	#end
			</select>
		</div>
	<div class="field-group">
	    <label for="hazardLikelihood">Risk Likelihood</label>
	    <select class="select" id="hazardLikelihood" name="hazardLikelihood">
	    	#foreach( $!likelihood in $!riskLikelihoods )
    			#if($likelihood.getID() == $hazard.getRiskLikelihood().getID())
					<option value="$likelihood.getID()" selected>$!likelihood.getValue()</option>
				#else
					<option value="$likelihood.getID()">$!likelihood.getValue()</option>
				#end
	    	#end
	    </select>
	</div>
	<div class="field-group">
	    <label for="hazardGroup">Hazard Group</label>
	    <select class="select" id="hazardGroup" name="hazardGroup">
	    	#foreach( $!group in $!hazardGroups )
	    		#if($!group.getID() == $hazard.getHazardGroup().getID())
					<option value="$!group.getID()" selected>$!group.getLabel()</option>
				#else
					<option value="$!group.getID()">$!group.getLabel()</option>
				#end
	    	#end
	    </select>
	</div>
	<div class="field-group">
	    <label for="hazardDescription">Description</label>
	    <textarea class="textarea long-field" name="hazardDescription" id="hazardDescription">$!hazard.getHazardDesc()</textarea>
	</div>
	<div class="field-group">
	    <label for="hazardInitation">Initiation Date</label>
	    <input class="aui-date-picker" name="hazardInitation" id="hazardInitation" value="$!initDate" type="date"/>
	</div>
   	<div class="field-group">
    	<label for="hazardCompletion">Completion Date</label>
        <input class="aui-date-picker" name="hazardCompletion" id="hazardCompletion" type="date" value="$!compDate"/>
    </div>
	<div class="buttons-container">
		<div class="buttons">
	        <input class="button submit" type="submit" value="Save" name="hazardSave">
	        <input class="button submit" type="submit" value="Save and create another" name="hazardSaveAdd">
	    </div>
	</div>
</form>