<nav id="main-nav" class="aui-navgroup aui-navgroup-horizontal">
	<div class="aui-navgroup-inner">
		<div class="aui-navgroup-primary">
			<ul id="HazardPagePropertiesNavigation" class="aui-nav">
				<li id="HazardNavItem">
					<a href="hazards?id=$!hazard.getID()" class="RouteLink">Hazard</a>
				</li>
				<li id="CausesNavItem">
					<a href="causes?id=$!hazard.getID()" class="RouteLink">Causes</a>
				</li>
				<li id="ControlsNavItem">
					<a href="controls?id=$!hazard.getID()" class="RouteLink">Controls</a>
				</li>
				<li id="VerificationsNavItem">
					<a href="verifications?id=$!hazard.getID()" class="RouteLink">Verifications</a>
				</li>
			</ul>
		</div>
	</div>
</nav>