<header class="aui-page-header" style="padding-top: 5px; padding-bottom: 5px;">
	<div class="aui-page-header-inner">
		<div class="MissionHazardNavContentHolder">
			<div class="MissionHazardNavStatic">
				<div class="MissionHazardNavContentHeader">
					Currently viewing:
					<span id="MissionHazardNavLine1"></span>
				</div>
				<div class="MissionHazardNavContentSmaller" id="MissionHazardNavLine2">
					<span>Hazard Title: </span>
					#if (!$hazard.getHazardTitle())
						<span id="MissionHazardNavHazardTitle">N/A</span>
					#else
						<span id="MissionHazardNavHazardTitle">$hazard.getHazardTitle()</span>
					#end
				</div>
				<div class="MissionHazardNavContentSmaller" id="MissionHazardNavLine3">
					<span>Hazard #: </span>
					#if (!$hazard.getHazardNumber())
						<span id="MissionHazardNavHazardNumber">N/A</span>
					#else
						<span id="MissionHazardNavHazardNumber">$hazard.getHazardNumber()</span>
					#end
				</div>
			</div>
			<div class="MissionHazardNavDynamic">
				<div class="MissionHazardNavContentHeader">Quick navigation:</div>
				<div class="MissionHazardNavDynamicContainer">
					<form class="aui">
						<div class="field-group" style="padding: 0">
							<div class="MissionHazardNavDynamicSelectContainer">
								<div class="MissionHazardNavDynamicHeader">JIRA Project:</div>
								<select size='1' class='select' name='payloadNavigationList' id='missionNavigation'>
								</select>
							</div>
							<div class="MissionHazardNavDynamicSelectContainer">
								<div class="MissionHazardNavDynamicHeader">Hazard Report:</div>
								<select size='1' class='select' name='hazardNavigationList' id='hazardNavigation'>
								</select>
							</div>
							<input type="button" class="aui-button" id="gotoSelectedHazardReport" value="Go"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>

