#set ($negligibleMap = {
	1: [],
	2: [],
	3: [],
	4: [],
	5: []
})

#set ($marginalMap = {
	1: [],
	2: [],
	3: [],
	4: [],
	5: []
})

#set ($criticalMap = {
	1: [],
	2: [],
	3: [],
	4: [],
	5: []
})

#set ($catastrophicMap = {
	1: [],
	2: [],
	3: [],
	4: [],
	5: []
})


#set ($catastrophicMap = {
	1: [],
	2: [],
	3: [],
	4: [],
	5: []
})

#set ($likelihoodValueMap = {
	"A - Frequent" : 5,
	"B - Reasonably probable": 4,
	"C - Occasional": 3,
	"D - Remote": 2,
	"E - Extremely improbable": 1
})

#set( $notSpecified = [] )

#macro(drawLink $cause)
	<a href="causes?id=$!hazard.getID()">$cause.getCauseNumber()</a>
#end

#macro( putInCategoryMap $cause )
	$cause.getRiskCategory().getValue() - $cause.getRiskLikelihood().getValue()<br/>

	#if(!$cause.getRiskCategory() || !$cause.getRiskLikelihood())
		#set($result = $notSpecified.add($cause))
	#elseif ($cause.getRiskCategory().getValue() == "IV - Negligible")
		#set($result = $negligibleMap.get($likelihoodValueMap.get($cause.getRiskLikelihood().getValue())).add($cause))
	#elseif ($cause.getRiskCategory().getValue() == "III - Marginal")
		#set($result = $marginalMap.get($likelihoodValueMap.get($cause.getRiskLikelihood().getValue())).add($cause))
	#elseif ($cause.getRiskCategory().getValue() == "II - Critical")
		#set($result = $criticalMap.get($likelihoodValueMap.get($cause.getRiskLikelihood().getValue())).add($cause))
	#elseif ($cause.getRiskCategory().getValue() == "I - Catastrophic")
		#set($result = $catastrophicMap.get($likelihoodValueMap.get($cause.getRiskLikelihood().getValue())).add($cause))
	#end
#end

#foreach ($cause in $hazard.getHazardCauses())
	#if ($cause.getTransfer() == 0 && !$cause.getDeleteReason())
		#putInCategoryMap($cause)
	#end
#end

#foreach ($cause in $transferredToACause)
	#putInCategoryMap($cause)
#end

#macro (listCausesForLikelihood $categoryMap $likelihoodValue) 
	#foreach($cause in $categoryMap.get($likelihoodValue))
		#drawLink($cause)
	#end
#end

<table id="HazardPageRiskMatrixTable" class="HazardPageRiskMatrixText">
	
	<!-- Header -->
	<tr>
		<th class="HazardPageRiskMatrixEmptyColumn"></td>
		<th class="HazardPageRiskMatrixCategoryColumns" data-column="Negligible">Negligible</td>
		<th class="HazardPageRiskMatrixCategoryColumns" data-column="Marginal">Marginal</td>
		<th class="HazardPageRiskMatrixCategoryColumns" data-column="Critical">Critical</td>
		<th class="HazardPageRiskMatrixCategoryColumns" data-column="Catastrophic">Catastrophic</td>
	</tr>

	<tr data-row="Frequent">
		<td>Frequent</td>
		<td class="HazardPageRiskMatrixTableYellowCell">#listCausesForLikelihood($negligibleMap, 5)</td>
		<td class="HazardPageRiskMatrixTableRedCell">#listCausesForLikelihood($marginalMap, 5)</td>
		<td class="HazardPageRiskMatrixTableRedCell">#listCausesForLikelihood($criticalMap, 5)</td>
		<td class="HazardPageRiskMatrixTableRedCell">#listCausesForLikelihood($catastrophicMap, 5)</td>
	</tr>

	<tr data-row="Reasonably probable">
		<td>Reasonably probable</td>
		<td class="HazardPageRiskMatrixTableYellowCell">#listCausesForLikelihood($negligibleMap, 4)</td>
		<td class="HazardPageRiskMatrixTableOrangeCell">#listCausesForLikelihood($marginalMap, 4)</td>
		<td class="HazardPageRiskMatrixTableRedCell">#listCausesForLikelihood($criticalMap, 4)</td>
		<td class="HazardPageRiskMatrixTableRedCell">#listCausesForLikelihood($catastrophicMap, 4)</td>
	</tr>

	<tr data-row="Occasional">
		<td>Occasional</td>
		<td class="HazardPageRiskMatrixTableGreenCell">#listCausesForLikelihood($negligibleMap, 3)</td>
		<td class="HazardPageRiskMatrixTableOrangeCell">#listCausesForLikelihood($marginalMap, 3)</td>
		<td class="HazardPageRiskMatrixTableOrangeCell">#listCausesForLikelihood($criticalMap, 3)</td>
		<td class="HazardPageRiskMatrixTableRedCell">#listCausesForLikelihood($catastrophicMap, 3)</td>
	</tr>
	
	<tr data-row="Remote">
		<td>Remote</td>
		<td class="HazardPageRiskMatrixTableGreenCell">#listCausesForLikelihood($negligibleMap, 2)</td>
		<td class="HazardPageRiskMatrixTableYellowCell">#listCausesForLikelihood($marginalMap, 2)</td>
		<td class="HazardPageRiskMatrixTableOrangeCell">#listCausesForLikelihood($criticalMap, 2)</td>
		<td class="HazardPageRiskMatrixTableOrangeCell">#listCausesForLikelihood($catastrophicMap, 2)</td>
	</tr>
	
	<tr data-row="Extremely improbable">
		<td>Extremely improbable</td>
		<td class="HazardPageRiskMatrixTableGreenCell">#listCausesForLikelihood($negligibleMap, 1)</td>
		<td class="HazardPageRiskMatrixTableYellowCell">#listCausesForLikelihood($marginalMap, 1)</td>
		<td class="HazardPageRiskMatrixTableYellowCell">#listCausesForLikelihood($criticalMap, 1)</td>
		<td class="HazardPageRiskMatrixTableYellowCell">#listCausesForLikelihood($catastrophicMap, 1)</td>
	</tr>

</table>

#if($notSpecified.size() != 0)
	<div class="HazardPageRiskMatrixText">Causes missing a risk likelihood or category: 
		#foreach ($cause in $notSpecified)
			#drawLink($cause) 
		#end
	</div>
#end

#if($transferIsDeletedList.size() != 0)
	<div class="HazardPageRiskMatrixText">Causes whose transfers are deleted: 
		#foreach ($riskValue in $transferIsDeletedList)
			#drawLink($riskValue)	
		#end
	</div>
	<br/>
#end



#if($transferredToHazard.size() != 0)
	<div class="HazardPageRiskMatrixText">Causes associated with entire hazards: 
		#foreach ($riskValue in $transferredToHazard)
			#drawLink($riskValue) 						
		#end
	</div>
	<br/>
#end
