<html>
	<head>
		<title>Hazard Form</title>
		<meta name="decorator" content="atl.general">
		$webResourceManager.requireResourcesForContext("hts")
	</head>
	<body class="aui-layout aui-theme-default">
		#parse("/templates/navigation.vm")
		<header class="aui-page-header">
			<div class="aui-page-header-inner">
				<h2>Missions/Payloads and Hazard Reports</h2>
			</div>
		</header>
		<div class="aui-page-panel">
        	<div class="aui-page-panel-inner">
        	    <div class="leftPanel aui-page-panel-nav">
        	    	<form class="payloadForm" method="post" action="hazardlist" class="aui" id="payloadForm">
						<div class="field-group">
							<div class="payloadHeading">Mission/Payload</div>
							<div>
        						<div class="payloadFormInputContainer">
									<input class="text long-field" name="hazardPayloadAdd" id="hazardPayloadAdd" autofocus/>
									<input class="add submit" type="submit" value="Add" name="PayloadAdd">
								</div>
							</div>
	        			</div>
    				</form>
        	    	<nav class="aui-navgroup aui-navgroup-vertical payloads">
        	    		<div class="payloadHeadingList">List of Missions/Payloads</div>
        	    		<div class="aui-navgroup-inner" id="payloadList">
    						<ul class="aui-nav" id="listOfCreatedPayloads">
    							#if($payloads.size() == 0)
    								<span class="noPayload">-None-</span>
    							#else
									<li><a class="getReports" data-key="all">-All Hazard Reports-</a></li>
									#foreach( $payload in $payloads )
    									<li><a class="getReports" data-key="$payload.getID()">$!payload.getName()</a></li>
    								#end
    							#end
    						</ul>
    					</div>
    				</nav>
    			</div>
				<div id="HazardTableViewingHeader">Currently viewing: <div id="HazardTableViewingHeaderContent">All Hazard Reports</div></div>
    			#if($hazardReports.size()==0)
    				<div class="HazardTableText" id="HazardTableNoPayloadsMessage">No Missions/Payloads have been created.</div>
    			#end
    			#if($hazardReports.size()==0)
    				<div class="HazardTableText" id="HazardTableNoHazardsMessage">No Hazard Reports have been created.</div>
    			#end
    			<div class="HazardTableText" id="HazardTableMessage"></div>
				<div id="hazardTableHolder">
					#if ( $hazardReports.size() > 0 )
						<table class="aui" id="hazardTable">
						    <thead>
						        <tr id="hazard-row">
						            <th id="hazardNumber">Hazard #</th>
						            <th id="hazardTitle">Title</th>
						            <th id="hazardMissionPayload">Mission/Payload</th>
						            <th id="hazardLastEdit">Last revision</th>
						            <th id="action">Action</th>
						        </tr>
						    </thead>
						    <tbody>
						    	#foreach( $hazardreport in $hazardReports )
						        <tr id="hazardEntryID$hazardreport.getID()">
						            <td headers="hazardNumber">$!hazardreport.getHazardNum()</td>
						            <td headers="hazardTitle">$!hazardreport.getTitle()</td>
						            <td headers="hazardMissionPayload">$!hazardreport.getMissionPayload().getName()</td>
						            <td id="hazardLastEditField" headers="hazardLastEdit">$!hazardreport.getRevisionDate()</td>

						            <td class="action" headers="action">
						                <ul class="menu">
						                    <li>
						                        <a href="hazardlist?edit=y&key=$hazardreport.getID()">Edit</a>
						                    </li>
						                    <li>
						                    	<a href="#" class="deleteHazardReport" data-key="$hazardreport.getID()">Delete</a>
						                    </li>
						                    <li>
						                    	<a href="#" class="downloadHazardReport">Print</a>
						                    	<form method="post" action="reportgeneration" id="reportgeneration">
						                    		<input type="hidden" name="hazardToDownload" id="hazardToDownload" value="$!hazardreport.getID()" />
						                    	</form>
						                    </li>
						                </ul>
						            </td>
						        </tr>
						        #end
						    </tbody>
						</table>
					#end
				</div>
				<button class="aui-button createNewHazardReport" id="HazardTableCreateHazardButton">Create Hazard</button>
			</div>
		</div>
	</body>
</html>