<div>
	<form class="aui">
		<div class='field-group'>
			<select size='1' class='select' name='payloadList' id='payloadList'>
				<option value=''>-Select Mission/Payload-</option>
			</select>
			<span id="hazardReports">
			</span>
		</div>
	</form>
</div>