<div>
	<form class="aui">
		<div class='field-group' style="padding:0">
			<select size='1' class='select' name='payloadNavigationList' id='payloadNavigationList'>
				<option value=''>-Select Mission/Payload-</option>
			</select>
			<span id="hazardReportsNavigation">
			</span>
		</div>
	</form>
</div>