<form class="aui" action="controlform" method="post" id="addNewControlForm">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
	<div class="field-group">
		<label for="controlDescriptionNew">Description <span class="aui-icon icon-required">(required)</span></label>
		<textarea class="textarea long-field" name="controlDescriptionNew" id="controlDescriptionNew"></textarea>
	</div>

	<div class="field-group">
		<label for="controlGroupNew">Control group</label>
		<select class="select" id="controlGroupNew" name="controlGroupNew">
			#foreach( $controlGroup in $controlGroups )
				<option value="$controlGroup.getID()">$!controlGroup.getLabel()</option>
			#end
		</select>
	</div>

	<div class="field-group">
		<label for="controlCausesNew">Causes</label>
		<select class="multi-select" size="5" multiple="multiple" name="controlCausesNew" id="controlCausesNew">
			#foreach( $hazardCause in $hazardCauses )
				<option value="$hazardCause.getID()">$!hazardCause.getTitle()</option>
			#end
		</select>
	</div>

	<div class="buttons-container">
		<div class="buttons">
			<input class="button submit" type="submit" value="Save" id="comment-save-button">
			<input class="button" type="submit" value="Clear" id="clearNewControlButton">
		</div>
	</div>
</form>