<form class="aui" action="controlform" method="post" id="addNewControlForm">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
	<div class="field-group">
		<label for="controlDescriptionNew">Description <span class="aui-icon icon-required">(required)</span></label>
		<textarea class="textarea long-field" name="controlDescriptionNew" id="controlDescriptionNew"></textarea>
	</div>

	<div class="field-group">
		<label for="controlGroupNew">Control group</label>
		<select class="select" id="controlGroupNew" name="controlGroupNew">
			#foreach( $controlGroup in $controlGroups )
				#if($controlGroup.getLabel() == "null")
					<option value="$controlGroup.getID()" selected>-Select-</option>
				#else
					<option value="$controlGroup.getID()">$!controlGroup.getLabel()</option>
				#end
			#end
		</select>
	</div>

	<div class="field-group">
		<label for="controlCausesNew">Causes</label>
		<select class="multi-select" size="5" multiple="multiple" name="controlCausesNew" id="controlCausesNew">
			#foreach( $hazardCause in $hazardCauses )
				<option value="$hazardCause.getID()">$!hazardCause.getCauseNumber(): $!hazardCause.getTitle()</option>
			#end
		</select>
		<div class="ControlsTableEditControlsFooterContainerOne"><span class="ControlsTableEditControlsFooter">Non-associated Causes</span></div>
		<div class="ControlsTableEditControlsFooterContainerTwo"><span class="ControlsTableEditControlsFooter">Associated Causes</span></div>
	</div>

	<div class="buttons-container">
		<button class="aui-button SaveAllChanges">Save All Changes</button>
		<input class="button" type="button" value="Clear" id="clearNewControlButton">
	</div>
</form>