<form class="aui" id="addNewCauseForm" method="post" action="causeform">
	<div class="field-group">
	    <label for="causeTitle">Title <span class="aui-icon icon-required">(required)</span></label>
	    <input class="text long-field" type="text" id="causeTitle" name="causeTitle">
	</div>
	<div class="field-group">
	    <label for="cause-title">Owner</label>
	    <input class="text long-field" type="text" id="causeOwner" name="causeOwner">
	</div>
	<div class="field-group">
	    <label for="causeEffects">Effects</label>
	    <input class="text long-field" type="text" id="causeEffects" name="causeEffects">
	</div>
	<div class="field-group">
	    <label for="causeDescription">Description</label>
	    <textarea class="textarea long-field" rows="6" cols="10" name="causeDescription" id="causeDescription"></textarea>
	</div>
	<div class="buttons-container">
		<div class="causeButtonTop">
			<button class="aui-button causeSaveAllChanges causeButtons" type="button">Save All Changes</button>
			<button type="button" class="button causeButtons transfers" id="clearCause">Clear</button>
		</div>
		<div>
			<button type="button" class="button causeButtons transfers" id="causeAddReference" disabled>Add Reference Doc</button>
		</div>
	</div>
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
</form>