<form class="aui" action="controlform" method="post" id="controlForm">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
	<div class="field-group">
		<label for="controlDescription">Description <span class="aui-icon icon-required">(required)</span></label>
		<textarea class="textarea long-field" name="controlDescription" id="controlDescription"></textarea>
	</div>

	<div class="field-group">
		<label for="controlGroup">Control group</label>
		<select class="select" id="controlGroup" name="controlGroup">
			#foreach( $controlGroup in $controlGroups )
				<option value="$controlGroup.getID()">$!controlGroup.getLabel()</option>
			#end
		</select>
	</div>

	<div class="field-group">
		<label for="controlCauses">Causes</label>
		<select class="multi-select" size="5" multiple="multiple" name="controlCauses" id="controlCauses">
			<!-- ALL HAZARD CAUSES -->
			#foreach( $hazardCause in $hazardCauses )
				<option value="$hazardCause.getID()">$!hazardCause.getTitle()</option>
			#end
			<!-- TODO: Based on the Control, loop all selected Causes -->

			<!-- 			#foreach( $selectedSubsys in $hazard.getSubsystems() )
				<option value="$selectedSubsys.getID()" selected>$!selectedSubsys.getLabel()</option>
			#end
			#foreach( $subsystem in $subsystems )
				<option value="$subsystem.getID()">$!subsystem.getLabel()</option>
			#end -->
		</select>
	</div>

	<div class="buttons-container">
		<div class="buttons">
			<input class="button submit" type="submit" value="Save" id="comment-save-button">
		<a class="cancel" href="#">Cancel</a>
		</div>
	</div>
</form>