<form class="aui" action="verificationform" method="post" id="addNewVerificationForm">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
	<div class="field-group">
		<label for="verificationDescriptionNew">Description <span class="aui-icon icon-required">(required)</span></label>
		<textarea class="textarea long-field" name="verificationDescriptionNew" id="verificationDescriptionNew"></textarea>
	</div>
	<div class="field-group">
		<label for="verificationStatusNew">Verification Status</label>
		<select class="select" id="verificationStatusNew" name="verificationStatusNew">
			#foreach( $verificationStatus in $verificationStatuses )
				#if( $verificationStatus == "Open" )
					<option value="$verificationStatus.getID()" selected>$!verificationStatus.getLabel()</option>
				#else
					<option value="$verificationStatus.getID()">$!verificationStatus.getLabel()</option>
				#end
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationTypeNew">Verification Type</label>
		<select class="select" id="verificationTypeNew" name="verificationTypeNew">
			<option value="" selected>-Select-</option>
			#foreach( $verificationType in $verificationTypes )
				<option value="$verificationType.getID()">$!verificationType.getLabel()</option>
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationRespPartyNew">Responsible Party</label>
		<input class="text long-field" type="text" id="verificationRespPartyNew" name="verificationRespPartyNew" />
	</div>
	<div class="field-group">
		<label for="verificationComplDateNew">Estimated Completion Date</label>
		<input class="aui-date-picker" name="verificationComplDateNew" id="verificationComplDateNew" type="date" />
	</div>
	<div class="field-group" id="addNewVerificationMultiSelect">
		<label for="verificationControlsNew">Controls</label>
		<select class="multi-select" size="5" multiple="multiple" name="verificationControlsNew" id="verificationControlsNew">
			#foreach( $control in $allControls )
				<option value="$control.getID()">$!control.getControlNumber(): $!control.getDescription()</option>
			#end
		</select>
		<div class="ControlsTableEditControlsFooterContainerOne"><span class="ControlsTableEditControlsFooter">Non-associated Controls</span></div>
		<div class="ControlsTableEditControlsFooterContainerTwo"><span class="ControlsTableEditControlsFooter">Associated Controls</span></div>
	</div>
	<div class="buttons-container">
		<input class="button SaveAllVerificationChanges" type="button" value="Save All Changes" data-new="true">
		<input class="button" type="button" value="Clear" id="clearNewVerificationButton">
	</div>
</form>