<form class="aui" id="transferControlForm" method="post" action="controlform">
	<input type="hidden" name="transfer" id="transfer" value="y">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazardID">
	<div class='field-group'>
		<label for='controlHazardList'>Hazard Reports</label>
		<select size='1' class='select long-field' name='controlHazardList' id='controlHazardList'>
			<option value=''>-Select Hazard Report-</option>
			#foreach( $hazard in $allHazards )
				#if($hazard.getID() != $hazardID)
					<option value="$hazard.getID()">$hazard.getHazardNum() - $hazard.getTitle()</option>
				#end
			#end
		</select>
	</div>
	<div class="field-group TransferControlCauseContainer">
	</div>
	<div class="field-group TransferControlControlContainer">
	</div>
	<div class="field-group">
		<label for="controlTransferReason">Transfer Reason</label>
		<textarea class="textarea long-field" name="controlTransferReason" id="controlTransferReason"></textarea>
	</div>
	<div class="buttons-container">
		<button class="aui-button SaveAllChanges">Save All Changes</button>
		<input type="reset" value="Clear" class="aui-button" id="clearTransferControlButton">
	</div>
</form>