<div class="verificationHeader" id="VerificationTableEntryID$verification.getID()" verificationId=$verification.getID()>
	<a name="verificationID$verification.getID()"></a>
	<span class="VerificationTableToggle aui-icon aui-icon-small aui-iconfont-add"></span>
	
	#set( $causeNum = "Orph" )
	#if($cause)
		#set( $causeNum = $cause.getCauseNumber() )
	#end	
	
	#set ($controlNum = "")
	#set ($separator = "")
	#if ($control)
		#set ($controlNum = $control.getControlNumber() )
		#set ($separator = "." )
	#end
	
	<span class="verificationNumber">Verification $causeNum$separator$controlNum.$verification.getVerificationNumber()</span>
	<span class="verificationDescription">$verification.getVerificationDesc()</span>
	<span class="verificationStatus">
		#if (!$verification.getVerificationStatus())
			No status
		#else
			$verification.getVerificationStatus().getLabel()
		#end
	</span>
	<span class="verificationDate">$dateFormatter.format($verification.getLastUpdated())</span>
	<input type="checkbox" value="$verification.getID()" class="VerificationPageDeleteBox">
</div>

<div id="VerificationTableEntryContentID$verification.getID()" class="HazardPropertyContentRow" >
	<div class="existingVerification">
		<form method="post" action="verifications" class="aui VerificationPageFormExisting">
			<input type="hidden" name="regular" id="regular" value="true">
			<input type="hidden" name="existing" id="existing" value="true">
			<input type="hidden" name="hazardID" id="hazardID" value="$hazard.getID()">
			<input type="hidden" name="verificationID" id="verificationID" value="$verification.getID()">
			<div class="field-group">
				<label for="verificationDescription"><span class="HTSRequired">* </span>Description</label>
				<input class="text long-field" type="text" id="verificationDescription" name="verificationDescription" value="$!verification.getVerificationDesc()">
			</div>
			<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="verificationDescription">
				<span class="HTSRequired">This field is required.</span>
			</div>
			<div class="field-group">
				<label for="verificationStatus">Verification Status</label>
				<select class="select" id="verificationStatus" name="verificationStatus">
					#if (!$verification.getVerificationStatus())
						<option value="" selected>-Select-</option>
					#else
						<option value="">-Select-</option>
					#end
					#foreach ($status in $statuses)
						#if ($status.getID() == $verification.getVerificationStatus().getID())
							<option value="$status.getID()" selected>$!status.getLabel()</option>
						#else
							<option value="$status.getID()">$!status.getLabel()</option>
						#end
					#end
				</select>
			</div>
			<div class="field-group">
				<label for="verificationType">Verification Type</label>
				<select class="select" id="verificationType" name="verificationType">
					#if (!$verification.getVerificationType())
						<option value="" selected>-Select-</option>
					#else
						<option value="">-Select-</option>
					#end
					#foreach ($type in $types)
						#if ($type.getID() == $verification.getVerificationType().getID())
							<option value="$type.getID()" selected>$!type.getLabel()</option>
						#else
							<option value="$type.getID()">$!type.getLabel()</option>
						#end
					#end
				</select>
			</div>
			<div class="field-group">
				<label for="verificationRespParty">Responsible Party</label>
				<input class="text long-field" type="text" id="verificationRespParty" name="verificationRespParty" value="$!verification.getResponsibleParty()">
			</div>
			<div class="field-group">
				<label for="VerificationEstComplDate">Estimated Completion Date</label>
				<input class="aui-date-picker VerificationDate" name="verificationEstComplDate" id="verificationEstComplDate" type="date" data-date="$!verification.getEstCompletionDate()"/>
			</div>
			<div class="field-group" id="VerificationPageAssociateControlContainer">
				#set( $associatedControl = false)
				#foreach($control in $verification.getControls())
					#set( $associatedControl = $control )
					#break
				#end

				<label class='popupLabels' for='verificationControlAssociation'>Associated Control</label>
				<select class='select long-field' name='verificationControlAssociation' id='verificationControlAssociation'>
					<option value=''>-Select Control-</option>
					#set($length = 50)
					#foreach($cause in $causes)
						#set( $causeNum = "Orph" )
						#if($cause)
							#set( $causeNum = $cause.getCauseNumber() )
						#end	
						
						<optgroup label="Cause $causeNum #getCauseName($cause $length)">
						#foreach($control in $cause.getControls())
							#if(!$control.getDeleteReason() || $control.getDeleteReason().isEmpty())
								#if($associatedControl && $control.getID() == $associatedControl.getID())
								<option value="$control.getID()" selected>Control $causeNum.$control.getControlNumber() #getControlName($control)</option>
								#else
								<option value="$control.getID()">Control $causeNum.$control.getControlNumber() #getControlName($control)</option>
								#end
							#end
						#end
						</optgroup>
					#end
					<optgroup label="Orphan controls">
						#foreach($control in $orphanControls)
							#if(!$control.getDeleteReason() || $control.getDeleteReason().isEmpty())
								#if($associatedControl && $control.getID() == $associatedControl.getID())
								<option value="$control.getID()" selected>Control $causeNum.$control.getControlNumber() #getControlName($control)</option>
								#else
								<option value="$control.getID()">Control $causeNum.$control.getControlNumber() #getControlName($control)</option>
								#end
							#end
						#end
					</optgroup>
				</select>
			</div>
		</form>
	</div>
</div>