<div id="verificationsBody">
	<div class="VerificationsHeaderHazardInfo">
		<span class="VerificationsHeadingOne">Hazard Title:
			 <span class="VerificationsHeadingOneContent" id="HazardTitleForVerification">$!hazardTitle</span>
		</span>
		<span class="VerificationsHeadingOne">Hazard #:
			 <span class="VerificationsHeadingOneContent" id="HazardNumberForVerification">$!hazardNumber</span>
		</span>
	</div>
	<span class="VerificationsHeadingOne">Verifications:</span>

	#if($allVerifications.size() == 0)
		<p>No verifications have been created for this hazard report.</p>
	#else
		<table cellspacing="0">
			<thead>
				<tr>
					<th class="VerificationsTableHeader VerificationsTableCellOne"></th>
					<th class="VerificationsTableHeader VerificationsTableCellTwo"></th>
					<th class="VerificationsTableHeader VerificationsTableCellThree">Description</th>
					<th class="VerificationsTableHeader VerificationsTableCellFour">Status</th>
					<th class="VerificationsTableHeader VerificationsTableCellFive">Last updated</th>
					<th class="VerificationsTableHeader">Delete?</th>
				</tr>
			</thead>
			<tbody>
				#foreach( $verification in $allVerifications )
					<tr>
						<td
							class="VerificationsTableCellToggle aui-icon aui-icon-small aui-iconfont-add"
							id="VerificationsTableEntryID$verification.getID()">
						</td>
						<td>Verification $verification.getVerificationNumber()</td>
						<td>$verification.getVerificationDesc()</td>
						<td>$verification.getVerificationStatus().getLabel()</td>
						<td class="VerificationDate">$verification.getLastUpdated()</td>
						<td>
							<input type="checkbox" value="$verification.getID()">
						</td>
					</tr>
					<tr>
						<td colspan="100%" class="VerificationsTableEditEntryHidden VerificationsEditContainer"
							id="VerificationsTableEditEntryID$verification.getID()">
							#parse("/templates/EditVerificationForm.vm")
						</td>
					</tr>
				#end
			</tbody>
		</table>
		<div class="VerificationButtonPanel">
			<button class="aui-button SaveAllVerificationChanges">Save All Changes</button>
			<button class="aui-button" disabled>Renumber and Save</button>
			<button class="aui-button" disabled>Expand all</button>
		</div>
	#end

	<div>
		<div class="VerificationsHeadingTwo">
			<span class="aui-icon aui-icon-small aui-iconfont-add" id="addNewVerification"></span>
			<span>Add New Verification</span>
		</div>
		<div class="VerificationsNewContainer">
			#parse("/templates/NewVerificationForm.vm")
		</div>
	</div>
</div>