#set ($theVerification = $transferredVerifications.get($verification.getID()))

<div class="verificationHeader" id="VerificationTableEntryID$verification.getID()" verificationId=$verification.getID()>
	<a name="verificationID$verification.getID()"></a>
	<span class="VerificationTableToggle aui-icon aui-icon-small aui-iconfont-add"></span>
	<span class="verificationNumber">Verification #getVerificationNumber($verification)</span>
	#set($length = 50)
	<span class="verificationDescription">
	
	#if($theVerification.getDeleteReason() && !$theVerification.getDeleteReason().isEmpty())
		<div class="HTSTransferDeletedOrigin">
			(TRANSFER) Verification #getVerificationNumber($theVerification) - #getVerificationName( $theVerification $length)
		</div>
	#else
		<a href="verifications?id=$hazard.getID()#verificationID$theVerification.getID()" targetID="$theVerification.getID()" class="verificationTransferLink">
			(TRANSFER) Verification #getVerificationNumber($theVerification) - #getVerificationName( $theVerification $length)
		</a>
	#end
	</span>
	<span class="verificationDate">$dateFormatter.format($verification.getLastUpdated())</span>
	<input type="checkbox" value="$verification.getID()" class="VerificationPageDeleteBox">
</div>

<div id="VerificationTableEntryContentID$verification.getID()" class="HazardPropertyContentRow" >
	<div class="existingVerification">
		<form method="post" action="verifications" class="aui VerificationPageFormExisting">
			<input type="hidden" name="regular" id="regular" value="false">
			<input type="hidden" name="existing" id="existing" value="true">
			<input type="hidden" name="hazardID" id="hazardID" value="$hazard.getID()">
			<input type="hidden" name="verificationID" id="verificationID" value="$verification.getID()">
		
			<div class="field-group">
				<label for="targetVerification">Target Verification</label>
				<div class="field-group-static">
					Verification #getVerificationNumber($theVerification)
				</div>
			</div>
			
			<div class="field-group">
				<label for="targetVerificationDescription">Target Description</label>
				<div class="field-group-static">
					$theVerification.getVerificationDesc()
				</div>
			</div>

			<div class="field-group">
				<label for="targetVerificationStatus">Target Status</label>
				<div class="field-group-static">
					#foreach ($status in $statuses)
						#if ($status.getID() == $theVerification.getVerificationStatus().getID())
							$status.getLabel()
							#break
						#end
					#end
				</div>
			</div>		
			
			<div class="field-group" id="VerificationPageAssociateControlContainer">
				#set( $associatedControl = false)
				#foreach($control in $verification.getControls())
					#set( $associatedControl = $control )
					#break
				#end

				<label class='popupLabels' for='verificationControlAssociation'>Associated Control</label>
					
				<select class='select long-field' name='verificationControlAssociation' id='verificationControlAssociation'>
					<option value=''>-Select Control-</option>
					#set($length = 50)
					#foreach($cause in $causesForPrinting)
						#set( $causeNum = "Orph" )
						#if($cause)
							#set( $causeNum = $cause.getCauseNumber() )
						#end	
						
						<optgroup label="Cause $causeNum #getCauseName($cause $length)">
						#foreach($control in $cause.getControls())
							#if(!$control.getDeleteReason() || $control.getDeleteReason().isEmpty())
								#if($associatedControl && $control.getID() == $associatedControl.getID())
								<option value="$control.getID()" selected>Control $causeNum.$control.getControlNumber() #getControlName($control $length)</option>
								#else
								<option value="$control.getID()">Control $causeNum.$control.getControlNumber() #getControlName($control $length)</option>
								#end
							#end
						#end
						</optgroup>
					#end
					<optgroup label="Orphan controls">
						#foreach($control in $orphanControls)
							#if(!$control.getDeleteReason() || $control.getDeleteReason().isEmpty())
								#if($associatedControl && $control.getID() == $associatedControl.getID())
								<option value="$control.getID()" selected>Control Orph.$control.getControlNumber() #getControlName($control $length)</option>
								#else
								<option value="$control.getID()">Control Orph.$control.getControlNumber() #getControlName($control $length)</option>
								#end
							#end
						#end
					</optgroup>
				</select>
			</div>
			<div class="field-group">
				<label for="transferReason">Transfer Reason</label>
				<textarea class="textarea long-field" rows="4" cols="10" name="transferReason" id="transferReason">$!theVerification.getTransferReason()</textarea>
			</div>
		</form>
	</div>
</div>
