#set($nonTransferredVerification = false)
#foreach($verification in $verifications)
	#if($verification.getID() != 0 && $verification.getTransfer() == 0)
		#set($nonTransferredVerification = true)
	#end
#end

#if ($nonTransferredVerification == false)
	<div class="HTSNoTransfersContainer">
		<p class="HTSNoTransfersText">No other non-transferred Verifications exist for this hazard.</p>
	</div>
#else
	<form method="post" action="verifications" class="aui" id="VerificationPageFormAddTransfer">
		<input type="hidden" name="regular" id="regular" value="false">
		<input type="hidden" name="existing" id="existing" value="false">
		<input type="hidden" name="hazardID" id="hazardID" value="$hazard.getID()">
		<div class="field-group" id="VerificationPageAssociateControlContainer">
			<label class='popupLabels' for='verificationControlAssociation'>Associated Control</label>
		<select class='select long-field' name='verificationControlAssociation' id='verificationControlAssociation'>
			<option value=''>-Select Control-</option>
			#set($length = 50)
			#foreach($cause in $causesForPrinting)
				#set( $causeNum = "Orph" )
				#if($cause)
					#set( $causeNum = $cause.getCauseNumber() )
				#end	
				
				<optgroup label="Cause $causeNum #getCauseName($cause $length)">
				#foreach($control in $cause.getControls())
					#if(!$control.getDeleteReason() || $control.getDeleteReason().isEmpty())
						<option value="$control.getID()">Control $causeNum.$control.getControlNumber() #getControlName($control $length)</option>
					#end
				#end
				</optgroup>
			#end
			<optgroup label="Orphan controls">
				#foreach($control in $orphanControls)
				<option value="$control.getID()">Control $causeNum.$control.getControlNumber() #getControlName($control $length)</option>
				#end
			</optgroup>
		</select>
		</div>
		<div class='field-group'>
			<label for="transferVerificationList"><span class="HTSRequired">* </span>Transfer to Verification</label>
			<select size="1" class="select long-field" name="transferVerificationList" id="transferVerificationList">
				<option value=''>-Select Verification-</option>
				#set($length = 50)
				#foreach ($verification in $verifications)
					#if($verification.getID() != 0 && $verification.getTransfer() == 0)

					#set( $causeNum = "" )
					#set( $separator = "" )
					#set( $controlNum = "Orph" )
					#set($controls = $verification.getControls())
					#if($controls)
						#foreach($control in $verification.getControls())
							#set( $causeNum = "Orph" )
							#set($separator = "." )
							#set($controlNum = $control.getControlNumber())
							#set($causes = $control.getCauses())
							#if($causes)
								#foreach($cause in $control.getCauses())
									#set($causeNum = $cause.getCauseNumber())
									#break
								#end
							#end
							#break
						#end
					#end
					<option value="$verification.getID()">Verification $causeNum$separator$controlNum.$verification.getVerificationNumber() - #substr($verification.getVerificationDesc() $length)</option>
					#end
				#end
			</select>
		</div>
		<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="transferVerificationList">
			<span class="HTSRequired">Please select the Verification to which you wish to transfer.</span>
		</div>
		<div class='field-group'>
			<label for='transferReason'>Transfer Reason</label>
			<textarea class='textarea long-field' rows='6' cols='5' type='textarea' id='transferReason' name='transferReason'></textarea>
		</div>		
		<div class="field-group">
			<input class="aui-button VerificationPageSaveAllChanges" type="button" value="Save All Changes" data-ops="transfer">
			<input class="button" type="button" value="Clear" id="VerificationPageClearTransfer">
		</div>
	</form>
#end