<form method="post" action="verifications" class="aui" id="VerificationPageFormAddNew">
	<input type="hidden" name="existing" id="existing" value="false">
	<input type="hidden" name="hazardID" id="hazardID" value="$hazard.getID()">
	<div class="field-group">
		<label for="verificationDescription"><span class="HTSRequired">* </span>Description</label>
		<input class="text long-field" type="text" id="verificationDescription" name="verificationDescription">
	</div>
	<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="verificationDescription">
		<span class="HTSRequired">This field is required.</span>
	</div>
	<div class="field-group">
		<label for="verificationStatus">Verification Status</label>
		<select class="select" id="verificationStatus" name="verificationStatus">
			<option value="" selected>-Select-</option>
			#foreach ($status in $statuses)
				<option value="$status.getID()">$status.getLabel()</option>
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationType">Verification Type</label>
		<select class="select" id="verificationType" name="verificationType">
			<option value="" selected>-Select-</option>
			#foreach ($type in $types)
				<option value="$type.getID()">$type.getLabel()</option>
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationRespParty">Responsible Party</label>
		<input class="text long-field" type="text" id="verificationRespParty" name="verificationRespParty">
	</div>
	<div class="field-group">
		<label for="verificationEstComplDate">Estimated Completion Date</label>
		<input class="aui-date-picker" name="verificationEstComplDate" id="verificationEstComplDate" type="date"/>
	</div>
	<div class="field-group" id="VerificationPageAssociateControlContainer">
		<label class='popupLabels' for='verificationControlAssociation'>Associated Control</label>
		<select class='select long-field' name='verificationControlAssociation' id='verificationControlAssociation'>
			<option value=''>-Select Control-</option>
			#set($length = 50)
			#foreach($cause in $causesForPrinting)
				#set( $causeNum = "Orph" )
				#if($cause)
					#set( $causeNum = $cause.getCauseNumber() )
				#end	
				
				<optgroup label="Cause $causeNum #getCauseName($cause $length)">
				#foreach($control in $cause.getControls())
					#if(!$control.getDeleteReason() || $control.getDeleteReason().isEmpty())
						<option value="$control.getID()">Control $causeNum.$control.getControlNumber() #getControlName($control)</option>
					#end
				#end
				</optgroup>
			#end
			<optgroup label="Orphan controls">
				#foreach($control in $orphanControls)
				<option value="$control.getID()">Control $causeNum.$control.getControlNumber() #getControlName($control $length)</option>
				#end
			</optgroup>
		</select>
	</div>	
	<div class="field-group">
		<input class="aui-button VerificationPageSaveAllChanges" type="button" value="Save All Changes" data-ops="new">
		<input class="button" type="button" value="Clear" id="VerificationPageClearNew">
	</div>
</form>