<html>
	<head>
		<title>HTS</title>
		<meta name="decorator" content="atl.general">
		$webResourceManager.requireResourcesForContext("HTSContext")
	</head>
	<body class="aui-layout aui-theme-default">
		#parse("/templates/general-navigation.vm")
		<div id="MainContent">
			<div id="ContentHolder">
				#parse("/templates/hazard-page-mission-hazard-nav.vm")
				#parse("/templates/hazard-page-prop-nav.vm")
				<div class="aui-page-panel">
					<div class="aui-page-panel-inner">
						<section class="aui-page-panel-content">
							#if ($verifications.size() == 0)
								<p>No Verifications have been created for this Hazard Report.</p>
							#else
								<table cellspacing="0" class="HazardPropertyTable" id="VerificationPageTable">
									<thead>
										<tr>
											<th class="HazardPropertyTableTh HazardPropertyTableCell1"></th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell2"></th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell3">Description</th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell4">Status</th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell5">Last updated</th>
											<th class="HazardPropertyTableTh HazardPropertyTableCell6">
												<div class="HazardPropertyTableCell6Img"></div>
											</th>
										</tr>
									</thead>
									<tbody id="HazardPropertyTableBody">
										#foreach ($verification in $verifications)
											#parse("/templates/verification-existing-regular.vm")
										#end
									</tbody>
								</table>
								<div class="HazardPropertyTableButtonsContainer">
									<input class="aui-button VerificationPageSaveAllChanges" type="button" value="Save All Changes" data-ops="all">
									<input class="aui-button" type="button" value="Renumber &amp; Save" style="margin: 0" disabled>
									<input class="aui-button" type="button" value="Expand All" id="VerificationPageExpandAllButton" style="margin: 0">
								</div>
							#end
							<div>
								<div class="HazardPropertyHeadingTwo">
									<span class="aui-icon aui-icon-small aui-iconfont-add" id="VerificationPageAddNewVerification"></span>
									<span>Add New Verification</span>
								</div>
								<div id="VerificationPageNewContainer">
									#parse("/templates/verification-new.vm")
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>