#set ($theControls= [])
#foreach ($control in $controls)
	#if (!$control.getDeleteReason())
		#if ($control.getTransfer() != 0)
			#foreach ($transferredControl in $transferredControls)
				#if ($control.getID() == $transferredControl.getOriginID())
					#set ($item = {})
					#set ($item.ID = $control.getID())
					#set ($item.number = $control.getControlNumber())
					#if ($transferredControl.getTransferTargetType() == "CONTROL")
						#set ($item.text = $transferredControl.getTargetControlDescription())
						#set ($item.transfer = "-T")
					#else
						#set ($item.text = $transferredControl.getTargetCauseTitle())
						#set ($item.transfer = "-T")
					#end
					#set ($result = $theControls.add($item))
					#break
				#end
			#end
		#else
			#set ($item = {})
			#set ($item.ID = $control.getID())
			#set ($item.number = $control.getControlNumber())
			#set ($item.text = $control.getDescription())
			#set ($item.transfer = false)
			#set ($result = $theControls.add($item))
		#end
	#end
#end

<form method="post" action="verifications" class="aui" id="VerificationPageFormAddNew">
	<input type="hidden" name="existing" id="existing" value="false">
	<input type="hidden" name="hazardID" id="hazardID" value="$!hazard.getID()">
	<div class="field-group">
		<label for="verificationDescription"><span class="HTSRequired">* </span>Description</label>
		<input class="text long-field" type="text" id="verificationDescription" name="verificationDescription">
	</div>
	<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="verificationDescription">
		<span class="HTSRequired">This field is required.</span>
	</div>
	<div class="field-group">
		<label for="verificationStatus">Verification Status</label>
		<select class="select" id="verificationStatus" name="verificationStatus">
			<option value="" selected>-Select-</option>
			#foreach ($status in $statuses)
				<option value="$status.getID()">$!status.getLabel()</option>
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationType">Verification Type</label>
		<select class="select" id="verificationType" name="verificationType">
			<option value="" selected>-Select-</option>
			#foreach ($type in $types)
				<option value="$type.getID()">$!type.getLabel()</option>
			#end
		</select>
	</div>
	<div class="field-group">
		<label for="verificationRespParty">Responsible Party</label>
		<input class="text long-field" type="text" id="verificationRespParty" name="verificationRespParty">
	</div>
	<div class="field-group">
		<label for="verificationEstComplDate">Estimated Completion Date</label>
		<input class="aui-date-picker" name="verificationEstComplDate" id="verificationEstComplDate" type="date"/>
	</div>
	<div class="field-group" id="VerificationPageFormAddNewMultiSelect">
		<label for="verificationControls">Controls</label>
		<select class="multi-select verificationControls" size="5" multiple="multiple" name="verificationControls">
			#foreach ($theControl in $theControls)
				<option value="$theControl.ID">
				#if ($theControl.transfer == "-T")
					$!theControl.number$!theControl.transfer: $!theControl.text
				#else
					$!theControl.number: $!theControl.text
				#end
				</option>
			#end
		</select>
		<div class="HTSMultiSelectFooterContainerOne">
			<span class="HTSMultiSelectFooter">Non-associated</span>
		</div>
		<div class="HTSMultiSelectFooterContainerTwo">
			<span class="HTSMultiSelectFooter">Associated</span>
		</div>
	</div>
	<div class="field-group">
		<input class="aui-button VerificationPageSaveAllChanges" type="button" value="Save All Changes" data-ops="new">
		<input class="button" type="button" value="Clear" id="VerificationPageClearNew">
	</div>
</form>