#set ($theControls = [])
#set ($foundMatch = 0)
#foreach ($control in $controls)
	#foreach ($selectedControl in $verification.getControls())
		#if ($control.getID() == $selectedControl.getID())
			#if ($control.getTransfer() != 0)
				#foreach ($transferredControl in $transferredControls)
					#if ($control.getID() == $transferredControl.getOriginID())
						#set ($item = {})
						#set ($item.ID = $control.getID())
						#set ($item.number = $control.getControlNumber())
						#set ($item.transfer = "-T")
						#set ($item.selected = true)
						#if (!$control.getDeleteReason())
							#set ($item.deleted = false)
						#else
							#set ($item.deleted = true)
						#end
						#if ($transferredControl.getTransferTargetType() == "CONTROL")
							#set ($item.text = $transferredControl.getTargetControlDescription())
						#else
							#set ($item.text = $transferredControl.getTargetCauseTitle())
						#end
						#set ($result = $theControls.add($item))
						#break
					#end
				#end
			#else
				#set ($item = {})
				#set ($item.ID = $control.getID())
				#set ($item.number = $control.getControlNumber())
				#set ($item.text = $control.getDescription())
				#set ($item.transfer = "")
				#set ($item.selected = true)
				#if (!$control.getDeleteReason())
					#set ($item.deleted = false)
				#else
					#set ($item.deleted = true)
				#end
				#set ($result = $theControls.add($item))
			#end
			#set ($foundMatch = 1)
			#break
		#end
	#end
	#if ($foundMatch == 0)
		#if (!$control.getDeleteReason())
			#if ($control.getTransfer() != 0)
				#foreach($transferredControl in $transferredControls)
					#if ($control.getID() == $transferredControl.getOriginID())
						#set ($item = {})
						#set ($item.ID = $control.getID())
						#set ($item.number = $control.getControlNumber())
						#set ($item.transfer = "-T")
						#set ($item.selected = false)
						#set ($item.deleted = false)
						#if ($transferredControl.getTransferTargetType() == "CONTROL")
							#set ($item.text = $transferredControl.getTargetControlDescription())
						#else
							#set ($item.text = $transferredControl.getTargetCauseTitle())
						#end
						#set ($result = $theControls.add($item))
						#break
					#end
				#end
			#else
				#set ($item = {})
				#set ($item.ID = $control.getID())
				#set ($item.number = $control.getControlNumber())
				#set ($item.text = $control.getDescription())
				#set ($item.transfer = "")
				#set ($item.selected = false)
				#set ($item.deleted = false)
				#set ($result = $theControls.add($item))
			#end
		#end
	#else
		#set ($foundMatch = 0)
	#end
#end

<tr id="VerificationTableEntryID$verification.getID()">
	<td class="HazardPropertyTableTd">
		<div class="VerificationTableToggle aui-icon aui-icon-small aui-iconfont-add"></div>
	</td>
	<td class="HazardPropertyTableTd">Verification $verification.getVerificationNumber()</td>
	<td class="HazardPropertyTableTd">$verification.getVerificationDesc()</td>
	<td class="HazardPropertyTableTd">
		#if (!$verification.getVerificationStatus())
			N/A
		#else
			$verification.getVerificationStatus().getLabel()
		#end
	</td>
	<td class="HazardPropertyTableTd">$dateFormatter.format($verification.getLastUpdated())</td>
	<td class="HazardPropertyTableTd">
		<input type="checkbox" value="$verification.getID()" class="VerificationPageDeleteBox">
	</td>
</tr>

<tr id="VerificationTableEntryContentID$verification.getID()" class="HazardPropertyContentRow">
	<td colspan="100%">
		<div class="HazardPropertyContentHolder">
			<form method="post" action="verifications" class="aui VerificationPageFormExisting">
				<input type="hidden" name="existing" id="existing" value="true">
				<input type="hidden" name="hazardID" id="hazardID" value="$!hazard.getID()">
				<input type="hidden" name="verificationID" id="verificationID" value="$!verification.getID()">
				<div class="field-group">
					<label for="verificationDescription"><span class="HTSRequired">* </span>Description</label>
					<input class="text long-field" type="text" id="verificationDescription" name="verificationDescription" value="$!verification.getVerificationDesc()">
				</div>
				<div class="field-group HTSRequiredContainer" style="padding-top: 0" data-error="verificationDescription">
					<span class="HTSRequired">This field is required.</span>
				</div>
				<div class="field-group">
					<label for="verificationStatus">Verification Status</label>
					<select class="select" id="verificationStatus" name="verificationStatus">
						#if (!$verification.getVerificationStatus())
							<option value="" selected>-Select-</option>
						#else
							<option value="">-Select-</option>
						#end
						#foreach ($status in $statuses)
							#if ($status.getID() == $verification.getVerificationStatus().getID())
								<option value="$status.getID()" selected>$!status.getLabel()</option>
							#else
								<option value="$status.getID()">$!status.getLabel()</option>
							#end
						#end
					</select>
				</div>
				<div class="field-group">
					<label for="verificationType">Verification Type</label>
					<select class="select" id="verificationType" name="verificationType">
						#if (!$verification.getVerificationType())
							<option value="" selected>-Select-</option>
						#else
							<option value="">-Select-</option>
						#end
						#foreach ($type in $types)
							#if ($type.getID() == $verification.getVerificationType().getID())
								<option value="$type.getID()" selected>$!type.getLabel()</option>
							#else
								<option value="$type.getID()">$!type.getLabel()</option>
							#end
						#end
					</select>
				</div>
				<div class="field-group">
					<label for="verificationRespParty">Responsible Party</label>
					<input class="text long-field" type="text" id="verificationRespParty" name="verificationRespParty" value="$!verification.getResponsibleParty()">
				</div>
				<div class="field-group">
					<label for="VerificationEstComplDate">Estimated Completion Date</label>
					<input class="aui-date-picker VerificationDate" name="VerificationEstComplDate" id="VerificationEstComplDate" type="date" data-date="$!verification.getEstCompletionDate()"/>
				</div>
				<div class="field-group">
					<label for="verificationControls">Controls</label>
					<select class="multi-select verificationControls" size="5" multiple="multiple" name="verificationControls">
						#foreach( $theControl in $theControls )
							#if( $theControl.selected == true )
								#if( $theControl.deleted == true )
									<option value="$theControl.ID" selected>
										$!theControl.number$!theControl.transfer (D): $!theControl.text
									</option>
								#else
									<option value="$theControl.ID" selected>
										$!theControl.number$!theControl.transfer: $!theControl.text
									</option>
								#end
							#else
								<option value="$theControl.ID">
									$!theControl.number$!theControl.transfer: $!theControl.text
								</option>
							#end
						#end
					</select>
					<div class="HTSMultiSelectFooterContainerOne">
						<span class="HTSMultiSelectFooter">Non-associated</span>
					</div>
					<div class="HTSMultiSelectFooterContainerTwo">
						<span class="HTSMultiSelectFooter">Associated</span>
					</div>
				</div>
			</form>
		</div>
	</td>
</tr>