<div id="verificationsBody">
	<div class="VerificationsHeaderHazardInfo">
		<span class="VerificationsHeadingOne">Hazard Title:
			 <span class="VerificationsHeadingOneContent" id="HazardTitleForVerification">$!hazardTitle</span>
		</span>
		<span class="VerificationsHeadingOne">Hazard #:
			 <span class="VerificationsHeadingOneContent" id="HazardNumberForVerification">$!hazardNumber</span>
		</span>
	</div>

<!-- CODE HERE TO LOOP EXISTING VERIFICATIONS -->

	<div>
		<div class="VerificationsHeadingTwo">
			<span class="aui-icon aui-icon-small aui-iconfont-add" id="addNewVerification"></span>
			<span>Add New Verification</span>
		</div>
		<div class="VerificationsNewContainer">
			#parse("/templates/NewVerificationForm.vm")
		</div>
	</div>
</div>